* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .state-top {
  height: 60px;
  background: #000;
}

main {
  padding: 20px;
  background-color: #efefef;
}

main .main-tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-tit span {
  font-size: 26px;
  color: rgba(0, 0, 0, 0.3);
}

main .main-tit span:nth-child(1) {
  position: relative;
  font-size: 36px;
  color: #000;
}

main .main-tit span:nth-child(1)::after {
  position: absolute;
  content: "";
  top: 30px;
  left: 0;
  width: 90px;
  height: 15px;
  background-color: #F4D106;
  z-index: -1;
  border-radius: 5px;
}

main .main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  margin-top: 40px;
}

main .main-list .list-card {
  position: relative;
  width: 335px;
  background-color: #fff;
  border-radius: 25px;
}

main .main-list .list-card .card-img {
  width: 100%;
  height: 600px;
}

main .main-list .list-card .list-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  margin-top: -80px;
  padding-left: 20px;
  padding-right: 20px;
}

main .main-list .list-card .list-cont img {
  width: 55px;
  height: 55px;
}

main .main-list .list-card .list-cont span {
  width: 230px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.3);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100px;
  background-color: #fff;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div img {
  width: 45px;
  height: 45px;
}

footer div span {
  font-size: 24px;
}

footer div:hover img,
footer div:hover span {
  cursor: pointer;
  color: #F4D106;
}

footer .hand-menu {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #F4D106;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .hand-menu span {
  font-size: 48px;
  color: #fff;
  margin-top: -5px;
}
/*# sourceMappingURL=community.css.map */