* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 20px;
  background: #efefef;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 {
  font-weight: 400;
}

header .back {
  position: absolute;
  left: 20px;
  font-size: 36px;
}

main::before {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 449px;
  background-color: #F4D106;
  z-index: -1;
  margin-left: -20px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .pro-cont {
  width: 100%;
  height: 700px;
  background-color: #efefef;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 133px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  position: relative;
}

main .pro-cont img:nth-child(1) {
  width: 141px;
  height: 293px;
  margin-top: 120px;
}

main .pro-cont img:nth-child(2) {
  width: 199px;
  height: 414px;
}

main .pro-cont .shopcar {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #F4D106;
  bottom: -50px;
  right: 20px;
}

main .pro-cont .shopcar img {
  position: absolute;
  width: 60px;
  height: 55px;
  top: -95px;
  right: 20px;
}

main .pro-detail {
  height: 240px;
  background-color: #fff;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

main .pro-detail h2 {
  font-size: 36px;
  font-weight: 400;
}

main .pro-detail p {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.2);
}

main .pro-detail h1 {
  font-size: 36px;
  color: #F4D106;
}

main .pro-price {
  margin-top: 20px;
  margin-bottom: 120px;
  background-color: #fff;
  padding: 20px;
}

main .pro-price div {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 28px;
}

main .pro-price div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .pro-price div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .pro-price div:nth-child(2) section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

main .pro-price div:nth-child(2) section span:nth-child(3) {
  color: #F4D106;
}

footer {
  height: 100px;
  width: 100%;
  margin-left: -20px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #fff;
}

footer span:nth-child(1) {
  font-size: 36px;
  color: #F4D106;
}

footer span:nth-child(2) {
  font-size: 36px;
  background-color: #F4D106;
  width: 400px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  color: #fff;
}
/*# sourceMappingURL=details.css.map */