* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #EFEFEF;
}

header {
  width: 100%;
  height: 130px;
}

header .state-top {
  height: 60px;
  background: #000;
}

header .search {
  position: relative;
  padding: 30px;
  margin-top: 10px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .search .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75px;
  margin-top: -15px;
}

header .search .icon span {
  width: 100%;
  border: 1px solid #000;
  background-color: #000;
  margin-top: 15px;
}

header .search .search-inp {
  height: 55px;
  width: 100%;
  margin-left: 40px;
  background: #fff;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 150px;
  border-radius: 10px;
}

header .search .search-inp span {
  margin: 10px;
  width: 20px;
  height: 20px;
  background: #000;
}

header .search .search-inp input {
  line-height: 45px;
  width: 100%;
  margin-left: 10px;
  border: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  margin-bottom: 160px;
}

main .main-top-img {
  margin-top: 20px;
}

main .main-top-img img {
  width: 100%;
  height: 100%;
}

main .icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

main .icon-list span {
  width: 124px;
  height: 124px;
  background-color: aquamarine;
  border-radius: 15px;
}

main .icon-list-2 {
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  gap: 10px;
}

main .icon-list-2 span {
  border-radius: 15px;
}

main .icon-list-2 .list-1 {
  width: 245px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#f93455));
  background: linear-gradient(#f93455);
}

main .icon-list-2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 10px;
}

main .icon-list-2 div span {
  width: 100%;
  height: 140px;
  background-color: palevioletred;
}

main .pro-area {
  position: relative;
  margin-top: 50px;
}

main .pro-area .pro-top-tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .pro-area .pro-top-tit span {
  position: relative;
  font-size: 36px;
}

main .pro-area .pro-top-tit span:after {
  position: absolute;
  content: "";
  top: 30px;
  left: 0;
  width: 160px;
  height: 15px;
  background-color: #F4D106;
  z-index: -1;
  border-radius: 5px;
}

main .pro-area .pro-top-tit div {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #F4D106;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .pro-area .pro-top-tit div img {
  width: 45px;
  height: 45px;
}

main .pro-area .pro-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  margin-top: 10px;
}

main .pro-area .pro-list .pro-list-area {
  width: 333px;
  height: 480px;
  background-color: #fff;
  border-radius: 25px;
  padding: 20px;
}

main .pro-area .pro-list .pro-list-area .pro-add {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .pro-area .pro-list .pro-list-area .pro-add span:nth-child(1) {
  font-size: 30px;
}

main .pro-area .pro-list .pro-list-area .pro-add span:nth-child(2) {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F4D106;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}

main .pro-area .pro-list .pro-img {
  height: 347px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

main .pro-area .pro-list .pro-img img:nth-child(1) {
  width: 223px;
  height: 324px;
  position: absolute;
  top: -40px;
}

main .pro-area .pro-list .pro-img img:nth-child(2) {
  width: 114px;
  height: 163px;
  position: absolute;
  left: 175px;
  top: 110px;
}

main .pro-area .pro-list h2 {
  font-size: 28px;
  font-weight: 400;
  margin-top: -20px;
}

main .pro-area .pro-list p {
  font-size: 18px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100px;
  background-color: #fff;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div img {
  width: 45px;
  height: 45px;
}

footer div span {
  font-size: 24px;
}

footer div:hover img,
footer div:hover span {
  cursor: pointer;
  color: #F4D106;
}

footer .hand-menu {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #F4D106;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .hand-menu span {
  font-size: 48px;
  color: #fff;
  margin-top: -5px;
}
/*# sourceMappingURL=index.css.map */