@import "_global-config";
@import "_footer";
@import "_icon";

@import "_nav";

.nav {
  background-image: url(../images/about/bg.jpg);
  background-repeat: no-repeat;
  height: 37.5rem;
  position: relative;
  background-position: -1.25rem -1.25rem;
}

// 抽离公共样式
.main-tit {
  text-align: center;
  margin-bottom: 1.25rem;
  h4 {
    line-height: 2.1875rem;
    font-size: 2rem;
    font-weight: 400;
  }
  .main-about {
    display: inline-block;
    width: 11.25rem;
    height: 1.625rem;
    border: 0.0625rem solid #b6b6b6;
    margin-top: 0.625rem;
    a {
      color: #666666;
      font-size: 0.75rem;
      font-weight: 400;
    }
  }
}

.container-main {
  // 居中
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .resume {
    background: $global-white-f3;
    margin: 0 -15rem;
    padding-top: 3.125rem;

    .time-clock {
      width: 1.875rem;
      height: 1.6875rem;
      background-position: -9.5rem -0.125rem;
    }

    .resume-content {
      height: 29.375rem;
      width: 75rem;
      background-image: url(../images/about/bg2.jpg);
      background-size: cover;
      .side-desc {
        // float: left;
        width: 22.5rem;
        height: 100%;
        background: $global-gray-05;
        color: $global-white;
      }
      .side-desc-tit {
        margin-top: 2.5rem;
        margin-left: 1.875rem;
        padding-bottom: 0.3125rem;
        width: 16.4375rem;
        border-bottom: 0.0625rem solid #fff;
        .side-desc-tit-ch {
          font-size: 1.6875rem;
          line-height: 2.1875rem;
        }
        .side-desc-tit-en {
          font-size: 0.875rem;
          line-height: 2.1875rem;
        }
      }

      .side-desc-con {
        padding: 1.25rem 1.875rem;
        height: 320px;
        overflow: hidden;
        p {
          margin: 0;
          line-height: 1.875rem;
          // 缩进
          text-indent: 2em;
          font-size: 0.875rem;
        }
        p:nth-child(1) {
          // 取消首行缩进
          text-indent: 0;
        }
      }
    }
  }

  .team-content {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    .icon-team {
      width: 3.25rem;
      height: 1.625rem;
      background-position: -9.0625rem -58px;
    }

    .team-bg {
      position: relative;
      height: 29.1875rem;
      box-shadow: 0.0625rem 0.0625rem 1.375rem rgba(44, 150, 117, 0.15);

      .team-res {
        position: absolute;
        width: 100%;
        height: 95px;
        background: $global-gray-05;
        left: 0;
        bottom: 0;
        z-index: 5;
        color: $global-white;
        text-align: center;
      }
      .team-tit-ch {
        padding-top: 1.25rem;
        font-size: 1.5625rem;
        line-height: 1.5625rem;
      }
      .team-tit-en {
        font-size: 0.875rem;
        line-height: 2.1875rem;
      }
      span {
        width: 2.625rem;
        height: 2.625rem;
      }
      .goto-left {
        position: absolute;
        background-position: -9.4375rem -20.75rem;
        left: -5.125rem;
        top: 50%;
      }
      .goto-right {
        position: absolute;
        background-position: -9.4375rem -397px;
        right: -5.125rem;
        top: 50%;
      }
    }
  }
}

// laptoop and ipad
@media screen and (max-width: 1280px) {
  .team-content {
    // background-color: red;
    // color: red;
    
  }
}


@media screen and (max-width: 680px){

}