@import "_global-config";
@import "_footer";
@import "_icon";

@import "_nav";

.nav {
  background-image: url(../images/public/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 37.5rem;
}
// ============================================
main {
  .main-content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 75rem;
    .main-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      width: 34.375rem;
      padding: 3.125rem 2.5rem;
      border-right: 0.0625rem solid #dfdfdf;
      margin-bottom: 2.5rem;
      padding-top: 3.75rem;
      .main-left-content {
        margin-left: -5rem;
        h4 {
          line-height: 2.1875rem;
          font-size: 1.125rem;
          font-weight: 600;
          margin-bottom: 0.625rem;
          color: $global-gray-07;
        }
        .com-in {
          line-height: 2.1875rem;
          font-size: 1rem;
          color: black;
        }
        .com-in span {
          font-weight: 600;
          color: $global-gray-07;
        }
        .off-hours {
          margin-top: 0.625rem;
          color: #999999;
          font-size: 0.875rem;
        }
      }
      .scan {
        display: flex;
        margin-top: 3.75rem;
        .qrcode {
          //   margin-left: 40px;
        }
        .qrcode-desc {
          text-align: center;
          padding-left: 2.5rem;
          padding-top: 30px;

          .scan-tit {
            font-size: 1.5rem;
            line-height: 2.1875rem;
            font-weight: 500;
          }
          .scan-desc {
            font-size: 1.125rem;
            line-height: 2.1875rem;
          }

          .scan-desc a {
            color: $global-blue;
          }
        }
      }
    }
    .main-right {
      flex: 1;
      padding-top: 3.75rem;
      text-align: center;
      margin-left: 5rem;

      h3 {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.1875rem;
        margin-bottom: 1.25rem;
      }

      .contact-form {
        input,
        select {
          width: 16.25rem;
          height: 1.875rem;
          margin: 0.625rem 0;
        }
        label {
          color: #333333;
          font-weight: 700;
          margin-right: 20px;
          font-size: 14px;
        }

        span {
          color: #ff004f;
        }
        .connect-now {
          display: flex;
          justify-content: center;
          margin: 0 auto;
          margin-top: 60px;
          background-color: #333333;
          width: 17rem;
          height: 3.75rem;
          border-radius: 3.125rem;
          a {
            color: $global-white;
            line-height: 3.75rem;
          }
        }

        .connect-now:hover {
          background-color: $global-blue;
        }
      }
    }
  }

  .gis {
    background-image: url(../images/contact/gis-bottom.png);
    display: flex;
    justify-content: center;
    height: 34.25rem;
    background-size: cover;
  }
}
