@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f3f3;
  border-top: 1px solid rgba(211, 211, 211, 0.9);
  border-bottom: 1px solid rgba(211, 211, 211, 0.9);
}

footer .footer-logo {
  padding-top: 50px;
}

footer .footer-phone {
  width: 27.9375rem;
  height: 4.25rem;
  text-align: center;
  margin-top: 1.25rem;
  border: 0.0625rem solid rgba(185, 185, 185, 0.4);
}

footer .footer-phone .footer-phone-tele {
  width: 360px;
  height: 30px;
  margin-top: -14px;
  margin-left: 5rem;
  color: #14916a;
  font-size: 1.375rem;
  overflow: hidden;
}

footer .footer-phone .footer-phone-icon {
  width: 2rem;
  height: 2rem;
  background-position: -0.0625rem -18.1875rem;
  position: relative;
  top: 1.25rem;
  margin-left: -21.25rem;
}

footer .introduce {
  width: 75rem;
  margin: 0 auto;
  margin-top: 3.125rem;
  padding-bottom: 1.875rem;
}

footer .introduce h5 {
  color: black;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.875rem;
  margin-top: 1.875rem;
}

footer .introduce .footer-contact {
  float: left;
  width: 18.75rem;
  overflow: hidden;
}

footer .introduce .footer-contact p {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #555555;
}

footer .introduce .footer-contact .footer-name span {
  width: 1.1875rem;
  height: 1rem;
  background-position: 0 -21.375rem;
  margin-top: 1.875rem;
}

footer .introduce .footer-contact .footer-address span {
  width: 1.1875rem;
  height: 1rem;
  background-position: 0 -23.5rem;
  vertical-align: middle;
}

footer .introduce .footer-contact .footer-contact-tele {
  width: 18.75rem;
  overflow: hidden;
}

footer .introduce .footer-contact .footer-contact-tele p + p {
  margin-left: 1.5rem;
}

footer .introduce .footer-contact .footer-contact-tele span {
  width: 1.1875rem;
  height: 1rem;
  background-position: -1px -403px;
  vertical-align: middle;
}

footer .introduce .footer-contact .footer-email span {
  width: 1.1875rem;
  height: 1rem;
  background-position: -1px -426px;
  vertical-align: middle;
}

footer .introduce .footer-nav {
  float: left;
  width: 27.9375rem;
  text-align: left;
  margin-left: 7.5rem;
}

footer .introduce .footer-nav a {
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #555555;
}

footer .introduce .footer-nav a:hover {
  text-decoration: underline;
}

footer .introduce .footer-nav .signature {
  margin-top: 0.625rem;
}

footer .introduce .footer-entry {
  float: left;
  width: 14.625rem;
}

footer .introduce .footer-entry .footer-logo-list {
  line-height: 2.8125rem;
}

footer .introduce .footer-entry .footer-logo-list a {
  margin-right: 0.3125rem;
}

footer .introduce .footer-entry .footer-logo-list a .fl-wx {
  width: 1.75rem;
  height: 1.625rem;
  background-position: -3rem -40px;
}

footer .introduce .footer-entry .footer-logo-list a .fl-wx:hover {
  background-position: -9.625rem -7.1875rem;
}

footer .introduce .footer-entry .footer-logo-list a .fl-wb {
  width: 1.75rem;
  height: 1.625rem;
  background-position: -3rem -86px;
}

footer .introduce .footer-entry .footer-logo-list a .fl-wb:hover {
  background-position: -9.5rem -9.75rem;
}

footer .introduce .footer-entry .footer-logo-list a .fl-rr {
  width: 1.75rem;
  height: 1.625rem;
  background-position: -3rem -8.125rem;
}

footer .introduce .footer-entry .footer-logo-list a .fl-rr:hover {
  background-position: -9.5rem -12.3125rem;
}

footer .introduce .footer-entry .footer-logo-list a .fl-yy {
  width: 1.75rem;
  height: 1.625rem;
  background-position: -3rem -10.875rem;
}

footer .introduce .footer-entry .footer-logo-list a .fl-yy:hover {
  background-position: -9.5625rem -14.875rem;
}

footer .introduce .footer-entry .footer-logo-list a .fl-qj {
  width: 1.75rem;
  height: 1.625rem;
  background-position: -3rem -13.75rem;
}

footer .introduce .footer-entry .footer-logo-list a .fl-qj:hover {
  background-position: -9.5rem -17.5rem;
}

footer .introduce .footer-entry .footer-logo-list a .fl-rabbit {
  width: 2rem;
  height: 1.625rem;
  background-position: -3rem -16.75rem;
}

footer .introduce .footer-entry .footer-logo-list a .fl-rabbit:hover {
  background-position: 0 -15.5rem;
}

footer .introduce .manifesto {
  font-size: 0.875rem;
  color: #14916a;
}

footer .copyright {
  background-color: #f3f3f3;
  text-align: center;
  padding: 0.625rem 0;
  font-size: 0.75rem;
  color: #555555;
}

.clear-flex::after {
  content: "";
  clear: both;
  display: block;
}

span.icon {
  display: inline-block;
  background-image: url(../images/public/icon.png);
}

.icon-list {
  margin: 0 auto;
  padding-top: 35px;
  float: right;
  margin-right: 10px;
}

.icon-list a {
  display: inline-block;
  margin: 8px;
}

.top-wx {
  width: 28px;
  height: 26px;
  background-position: -2px -40px;
}

.top-wx:hover {
  background-position: -155px -115px;
}

.top-wb {
  width: 28px;
  height: 26px;
  background-position-y: -80px;
}

.top-wb:hover {
  background-position: -152px -156px;
}

.top-rr {
  width: 28px;
  height: 26px;
  background-position-y: -120px;
}

.top-rr:hover {
  background-position: -152px -197px;
}

.top-yy {
  width: 28px;
  height: 26px;
  background-position-y: -160px;
}

.top-yy:hover {
  background-position: -158px -238px;
}

.top-qj {
  width: 28px;
  height: 26px;
  background-position-y: -200px;
}

.top-qj:hover {
  background-position: -152px -280px;
}

.top-rabbit {
  width: 28px;
  height: 26px;
  background-position: -55px -266px;
}

.top-rabbit:hover {
  background-position: 0 -245px;
}

.about {
  width: 75rem;
  margin: 0 auto;
  position: relative;
  bottom: -280px;
}

.about-content {
  display: inline-block;
  width: 333px;
  height: 130px;
  background: rgba(65, 165, 133, 0.8);
  border-bottom-right-radius: 60px;
  border-top-left-radius: 60px;
  text-align: right;
}

.about-en {
  padding-top: 30px;
  padding-right: 33px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.about-ch {
  padding-right: 33px;
  font-size: 36px;
  color: #fff;
  font-weight: bold;
}

.header {
  overflow: hidden;
  position: relative;
  background-image: url(../images/index/bg-top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.header .side-nav {
  background-color: rgba(0, 0, 0, 0.5);
  width: 18.75rem;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .side-nav .logo {
  position: relative;
  background-color: #fff;
  width: 18.75rem;
  height: 6.25rem;
  top: 6.25rem;
  overflow: hidden;
  border-bottom: 0.1875rem solid #14916a;
}

.header .side-nav .logo .logo-icon {
  position: absolute;
  top: 1.25rem;
  left: 3.125rem;
}

.header .side-nav .logo::after {
  position: absolute;
  left: 18rem;
  top: -1.25rem;
  display: block;
  content: "";
  width: 1.9375rem;
  height: 1.9375rem;
  background: #14916a;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .side-nav .nav-list {
  margin-top: 11.25rem;
}

.header .side-nav .nav-list li {
  line-height: 2.1875rem;
  margin-bottom: 0.625rem;
  height: 2.8125rem;
}

.header .side-nav .nav-list a {
  display: inline-block;
  width: 8.5rem;
  color: #fff;
  font-size: 1.125rem;
  padding-top: 0.1875rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .side-nav .nav-list a:hover {
  background-color: #fff;
  color: #14916a;
  border-top-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.header .side-nav .nav-list .active {
  background-color: #fff;
  color: #14916a;
  border-top-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.header .side-nav .phone {
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 14.625rem;
  margin-top: 5rem;
  border: 0.0625rem solid rgba(236, 236, 236, 0.3);
  color: #ececec;
  font-size: 1.375rem;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial;
  overflow: hidden;
  box-sizing: border-box;
}

.header .side-nav .phone .icon-phone {
  margin: auto 0.9375rem;
  padding-left: 30;
  width: 2.5rem;
  height: 1.625rem;
  text-align: center;
}

.header .side-nav .phone .phone-temp {
  width: 13.75rem;
  text-align: left;
  margin: 0.9375rem -1.5625rem;
  padding-left: 1.875rem;
  z-index: 1;
}

.header .side-nav .icon-list {
  padding-top: 0.625rem;
  padding-bottom: 12.5rem;
  position: relative;
}

.header .side-nav .icon-list a:nth-child(1):hover .qrcode {
  display: block;
}

.header .side-nav .icon-list .qrcode {
  position: absolute;
  display: none;
  width: 9.375rem;
  height: 9.375rem;
  top: 3.125rem;
  background-color: #fff;
}

.header .side-nav .icon-list .qrcode::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 0.625rem solid #fff;
  left: 0.3rem;
  top: -9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .side-nav .icon-list .qrcode-img {
  padding-top: 0.5rem;
}

.header .side-nav .icon-list-bottom {
  position: absolute;
  margin: 0 auto;
  bottom: 5rem;
  left: 49%;
}

.header .side-nav .icon-list-bottom span:nth-child(1) {
  background-color: #14916a;
}

.header .side-nav .icon-list-bottom span {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 0.1875rem;
}

.container {
  width: 100%;
  background-image: url(../images/index/main-bg.png);
  margin: 0 auto;
}

.container .container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 6.25rem;
}

.container .container-top .wel-left {
  width: 31.0625rem;
  height: 26.4375rem;
  position: relative;
}

.container .container-top .wel-content {
  position: relative;
  width: 31.25rem;
  height: 12.9375rem;
  padding-top: 0.125rem;
  margin-top: 6.25rem;
  font-weight: unset;
  overflow: hidden;
}

.container .container-top .wel-content p {
  font-size: 1rem;
  font-family: "微软雅黑";
}

.container .container-top .contact-us {
  position: absolute;
  display: block;
  width: 10.25rem;
  height: 2.125rem;
  background-color: #fff;
  color: #14916a;
  border-radius: 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0.0625rem 0.0625rem 0.625rem rgba(11, 2, 5, 0.31);
          box-shadow: 0.0625rem 0.0625rem 0.625rem rgba(11, 2, 5, 0.31);
  font-size: 1.5rem;
  font-weight: bold;
  bottom: -1.25rem;
  left: 20rem;
}

.container .container-top .contact-us:hover {
  color: #fff;
  background-color: #14916a;
}

.container .container-top .contact-us:hover::after {
  border-left: 0.3125rem solid #fff;
}

.container .container-top .contact-us::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border: 0.3125rem solid transparent;
  border-left: 0.3125rem solid #14916a;
  left: 8.625rem;
  top: 0.75rem;
}

.container .container-top .wel-right-img {
  margin-left: 1.875rem;
  position: relative;
  width: 41.875rem;
  height: 28.75rem;
  overflow: hidden;
  -webkit-box-shadow: 0.0625rem 0.0625rem 1.5rem rgba(11, 2, 5, 0.31);
          box-shadow: 0.0625rem 0.0625rem 1.5rem rgba(11, 2, 5, 0.31);
  border-bottom: 0.1875rem solid #14916a;
}

.container .container-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 6.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75rem;
}

.container .container-bottom .container-bottom-logo {
  width: 100%;
}

.container .container-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.75rem;
  width: 75rem;
  overflow: hidden;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.container .container-bottom ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .container-bottom ul li img {
  width: 100%;
}

.container .container-bottom ul li {
  position: relative;
  margin: 0.625rem;
}

.container .container-bottom .container-bottom-context {
  position: absolute;
  display: inline-block;
  width: 100%;
  background-color: #14916a;
  height: 3.875rem;
  color: #fff;
  /* 
      对于绝对定位的元素，元素下外边距边界与其包含块下边界之间的偏移。
      对于相对定位定位的元素，元素的下边界离开其正常位置的偏移。 */
  bottom: 0;
  display: none;
}

.container .container-bottom ul li:hover .container-bottom-context {
  display: block;
}

.container .container-bottom .container-bottom-context h4 {
  font-size: 1.25rem;
  font-weight: unset;
  margin-left: 0.3125rem;
  margin-top: 0.625rem;
}

.container .container-bottom .container-bottom-context p {
  margin-left: 0.3125rem;
  font-size: 0.75rem;
}
/*# sourceMappingURL=index.css.map */