// ! footer scss
footer {
    width: 100%;
    height: 350px;
    background-color: #454545;
}

.footer-wrap {
    width: 1320px;
    height: 100%;
    margin: 0 auto;
    /* border:1px red solid; */
}

.footer-top {
    height: 236px;
}

.footer-left,
.footer-right {
    width: 50%;
    color: #fff;
    float: left;
    position: relative;
}

.footer-left div {
    margin-top: 110px;
    margin-left: 58px;
}

.footer-left div a {
    color: white;
}

.contactinfo {
    display: inline-block;
    margin-top: 70px;
}

.footer-right ul {
    float: right;
    position: relative;
    left: 110px;
}

.footer-right ul li {
    font-size: 16px;
    width: 50%;
    float: left;

}

.footer-right ul li p {
    display: inline-block;
    position: relative;
    top: -2px;
    left: 9px;
    max-height: 40px;
    overflow: hidden;

}

.footer-left p:nth-child(1) {
    font-size: 24px;
}

.footer-left p:nth-child(2) {
    font-size: 22px;
}

.footer-right p:nth-child(1) {
    font-size: 24px;
    margin-bottom: 38px;
    margin-left: 110px;
}

.footer-bottom {
    width: 100%;
    height: 114px;
    color: #d1cfcf;
    line-height: 114px;
    text-align: center;

}

.line {

    width: 2px;
    height: 100%;
    background-color: #d1cfcf;
    position: absolute;
    right: 0;
    top: -76px;
    margin-top: -50%;
}