/* 
! all about global public css 
! You can extract more public data here
 */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  width: 100%;
  min-width: 1320px;
  height: 850px;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  position: relative;
}

.nav-box {
  width: 100%;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-box-wrap {
  width: 1320px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  margin-top: 28px;
}

.navigation {
  float: right;
}

li.now {
  border-bottom: 2px #201109 solid;
}

.navigation ul li {
  float: left;
  line-height: 120px;
}

.navigation ul li:not(:last-child) {
  margin-right: 75px;
}

.navigation ul li a {
  text-decoration: none;
  color: #201109;
  font-size: 18px;
}

.navigation ul li:hover {
  border-bottom: 2px #201109 solid;
}

.navigation ul li:hover a {
  font-weight: bold;
}

.title-box {
  width: 1320px;
  height: 730px;
  position: relative;
  margin: 0 auto;
}

.title-box img {
  position: absolute;
  top: 180px;
  right: 360px;
}

.title-box .title {
  position: absolute;
  width: 420px;
  right: 0;
  top: 200px;
}

.title-box .title p:nth-child(3) {
  position: relative;
  top: 305px;
  text-align: right;
}

.title-box .title p {
  color: #fff;
}

.title-box .title p:nth-child(1) {
  font-size: 72px;
}

.title-box .title p:nth-child(2),
.title-box .title p:nth-child(3) {
  font-size: 32px;
}

footer {
  width: 100%;
  height: 350px;
  background-color: #454545;
}

.footer-wrap {
  width: 1320px;
  height: 100%;
  margin: 0 auto;
  /* border:1px red solid; */
}

.footer-top {
  height: 236px;
}

.footer-left,
.footer-right {
  width: 50%;
  color: #fff;
  float: left;
  position: relative;
}

.footer-left div {
  margin-top: 110px;
  margin-left: 58px;
}

.footer-left div a {
  color: white;
}

.contactinfo {
  display: inline-block;
  margin-top: 70px;
}

.footer-right ul {
  float: right;
  position: relative;
  left: 110px;
}

.footer-right ul li {
  font-size: 16px;
  width: 50%;
  float: left;
}

.footer-right ul li p {
  display: inline-block;
  position: relative;
  top: -2px;
  left: 9px;
  max-height: 40px;
  overflow: hidden;
}

.footer-left p:nth-child(1) {
  font-size: 24px;
}

.footer-left p:nth-child(2) {
  font-size: 22px;
}

.footer-right p:nth-child(1) {
  font-size: 24px;
  margin-bottom: 38px;
  margin-left: 110px;
}

.footer-bottom {
  width: 100%;
  height: 114px;
  color: #d1cfcf;
  line-height: 114px;
  text-align: center;
}

.line {
  width: 2px;
  height: 100%;
  background-color: #d1cfcf;
  position: absolute;
  right: 0;
  top: -76px;
  margin-top: -50%;
}

article {
  width: 1320px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.contact-title {
  text-align: center;
  height: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 50px;
}

.contact-title h1 {
  font-size: 28px;
}

.contact-title p {
  font-size: 24px;
  color: #adadad;
}

.contact-title span {
  font-size: 108px;
  position: absolute;
  left: 50%;
  margin-left: -36px;
  color: #f2f2f2;
  z-index: -1;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.information-left {
  width: 650px;
}

.information-left img {
  width: 100%;
}

.information-right {
  margin-left: 100px;
}

.information-right a {
  text-decoration: none;
}

.information-right h1 {
  font-size: 24px;
  line-height: 100px;
  color: black;
}

.information-right li {
  font-size: 18px;
  line-height: 46px;
  color: #666666;
  cursor: pointer;
}

.information-right li:hover {
  color: black;
}

#container {
  width: 1320px;
  height: 550px;
  margin: 0 auto;
  margin-bottom: 100px;
}
/*# sourceMappingURL=contact.css.map */