header {
  width: 100%;
  height: 5.6875rem;
  /* background-image: url(../../img/nav-bg.png); */
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 888;
  /* position: relative; */
}

.logo {
  width: 11.0625rem;
  height: 100%;
  padding-left: 1.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 100%;
  height: 3.4375rem;
  float: right;
}
.icon {
  widows: 2.5rem;
  height: 100%;
  /* padding-top:0.38rem; */
  line-height: 3.4375rem;
  font-size: 2.5rem;
  color: #000;
  margin-right: 2rem;
}
.icon .menu-btn {
  width: 3.4375rem;
  height: 1.875rem;
  margin-top: 1.6875rem;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.icon span {
  height: 0;
  width: 2.5rem;
  background-color: #000;
  border: 0.0625rem solid #000;
  /* border-bottom: 0.125rem solid #ccc; */
  margin-right: 1.25rem;
}
header .icon:hover .nav-x {
  display: block;
}


