* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // border: 1px solid #000;
}

html,
body {
    // max-width: 750px;
    margin: 0 auto;

    background: #fff;

    // max-width: 750px;
}

$global-green: #14916A;

header {
    background-image: url(../img/nav-bg.png);
    background-size: cover;
    width: 100%;
    height: 500px;

    .nav-top {
        position: fixed;
        height: 90px;
        width: 100vw;


        // max-width: 750px;



        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 20px 0 20px;

        background-color: rgba(555, 555, 555, 0.6);

        z-index: 999;

        .btn-menu,
        .menu-btn {
            display: flex;
            flex-direction: column;
            gap: 8px;

        }

        .btn-menu span {
            height: 0;
            width: 40px;
            border: 1px solid #000;
            margin-right: 20px;
        }

        .btn-menu:hover {
            .nav-list {
                display: block;
            }
        }



        .btn-menu .nav-list {



            position: absolute;

            display: flex;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.4);
            // float: left;
            top: 0;
            width: 50%;
            height: 2000%;
            // bottom: 0;
            right: 0;

            align-items: center;

            padding: 40px;
            padding-right: 60px;

            // ! hide this
            display: none;

            div {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                height: 60px;

            }

            div img {
                position: absolute;
                right: 40px;
                top: 20px;
                width: 40px;
                height: 40px;

            }

            a {
                width: 100%;
                text-align: left;

                margin-top: 40px;
                height: 50px;

                font-size: 24px;


                color: #fff;
                padding-left: 20px;


                display: flex;
                align-items: center;
            }

            a:hover {
                color: $global-green;
                background-color: #fff;
                border-top-left-radius: 25px;
                border-bottom-right-radius: 25px;
            }
        }

    }
}

footer {
    margin-top: 40px;
    // padding: 40px;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;

    .logo-bottom {
        height: 56px;
        background-size: cover;
        width: 193px;
        align-self: center;
        margin-top: 40px;
    }

    .bottom-ph {
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 40px;
        padding: 10px;
        position: relative;

        img {
            width: 32px;
            height: 32px;
        }

        align-self: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: $global-green;
        width: 380px;
        line-height: 27px;
        margin-top: 40px;
        // border: 1px solid #000;

        h2 {
            font-size: 22px;
            font-weight: 500;
        }


    }

    .bottom-ph::after {
        content: "";
        width: 10px;
        height: 28px;
        position: absolute;
        top: 25%;
        left: -5px;
        background-color: #f3f3f3;
    }

    .bottom-ph::before {
        content: "";
        width: 10px;
        height: 28px;
        position: absolute;
        top: 25%;
        right: -5px;
        background-color: #f3f3f3;
    }


    .bottom-contact-area div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        // flex-direction: column;
        color: rgba(0, 0, 0, 0.6);
        margin-top: 10px;
        margin-bottom: 40px;
        margin-left: 40px;

        img {
            width: 20px;
            height: 18px;

        }

        h3 {
            font-weight: 400;
            margin-left: 10px;
        }
    }

    h2,
    h1 {
        align-self: center;
        font-weight: 400;
    }

    .bottom-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // justify-content: center;
        font-size: 24px;

        a {
            display: inline-block;
            color: #000;
            text-decoration: none;
            width: 240px;
            text-align: center;
        }

        a,
        span {
            margin-top: 20px;
        }

        span {
            display: none;
        }
    }

    .bottom-tit {
        color: rgba(0, 0, 0, 0.4);
        // font-weight: 100;
        font-size: 60px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .nav-icon-list {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;

        img {
            width: 27px;
        }
    }

    .bottom-tit-green {
        color: $global-green;
        margin-top: 40px;
        margin-bottom: 40px;
        // font-weight: 600;
        font-size: 28px;
    }

    .copyright {
        width: 100%;
        line-height: 80px;
        align-self: flex-start;

        border-top: 1px solid rgba(0, 0, 0, 0.4);

        h2 {
            margin-left: 40px;
        }

    }
}

a {
    text-decoration: none;
}

.main-cont-tit {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .main-tit {
        font-weight: 400;
    }

    p {
        color: rgba(0, 0, 0, 0.4);
        font-size: 18px;
        width: 386px;
        height: 44px;
        border: 2px solid rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        margin-top: 16px;
        margin-bottom: 40px;
    }

    .main-tit::after {
        position: absolute;
        content: "";
        width: 115px;
        border: 1px solid $global-green;
        // float: left;
        left: 38%;
        top: 56px;
    }
}