@import "_layout";

header {
    background-image: url(../img/contact-bg.png);
}

main {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .detail-tit {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 147px;
        padding: 40px;

        background-color: rgba(0, 0, 0, 0.1);


        // align-items: flex-start;

        h1 {
            font-size: 36px;
            font-weight: 400;
        }

        p {
            margin-top: 20px;
            font-size: 20px;
        }

        p span {
            color: $global-green;
        }

        p span:nth-child(2) {
            margin-left: 20px;
        }
    }

    .news-cont {

        width: 100%;
        padding: 20px;

        p {
            font-size: 24px;
        }

        p:nth-child(1) {
            margin-top: 20px;
            color: rgba(0, 0, 0, 0.4);
        }

        img {
            width: 100%;
            height: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .case-btn {
        display: flex;
        flex-direction: column;
        width: 100%;


        a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            // gap: 40px;
            margin-top: 40px;
            margin-left: 20px;
            margin-right: 20px;
            background: $global-green;

            font-size: 28px;

            border-top-left-radius: 25px;
            border-bottom-right-radius: 25px;

            span {
                color: #fff;
            }

            span:nth-child(1) {
                width: 112px;
                margin-left: 40px;
                line-height: 60px;
                border-right: 1px solid rgba(255, 255, 255, 0.1);

            }
        }
    }
}