@import "_layout";

header {
    background-image: url(../img/contact-bg.png);
}

main {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .case-btn {
        padding: 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        a {
            width: 172px;
            height: 60px;
            background-color: $global-green;

            display: flex;
            // place-items: center;
            justify-content: center;
            align-items: center;

            text-decoration: none;
            font-size: 36px;

            // border-radius: 50px;
            border-top-left-radius: 25px;
            border-bottom-right-radius: 25px;
            color: #ffffff;
        }
    }

    .news-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
        // margin-left: 20px;


        .list-area {
            display: flex;
            width: 100%;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        .list-area img {
            width: 196px;
            height: 126px;
        }

        .list-area .img-cont {
            padding-left: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h1 {
                font-weight: 400;
            }

            span {
                font-size: 20px;
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }

}