body {
  background: #001628;
  color: #777;
  padding: 4em;
  font-family: sans-serif;
  line-height: 1.15;
}
hr {
  height: 6px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
}

hr:last-child {
  margin-right: 60%;
}

hr.image {
  padding-bottom: 50%;
}

.page {
  padding: 2em;
  background: #cecece;
  max-width: 1100px;
}

.archive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  // ! 5 columns
  //   grid-template-columns: repeat(5, 1fr);
  gap: 1em;
}

.article {
  padding: 1em;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
}

// seting article:nth-child(3)
.article:nth-child(3) {
  // ! 指定跨度的方法,它是僅跨一列的其他項的寬度的兩倍。
  grid-column: span 2;
}
