@import url("https://fonts.googleapis.com/css?family=Gochi+Hand");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #291642;
  font-family: "Gochi Hand", sans-serif;
  font-size: 130%;
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: #eebc1f;
  width: 20vw;
  padding-bottom: 20%;
  height: 0;
  transform: rotate(45deg);
  position: relative;
  transition: all 0.2s ease;
}

.box::before,
.box::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease;
}

.box::before {
  transform: translate(-100%, 100%);
  background-color: #068d7e;
  background: conic-gradient(#eebc1f 25%, #068d7e 0 50%, #eebc1f 0) 100% 100% / 180% 180%;
  clip-path: polygon(0 0, 100% 0, 100% 20%, 20% 20%, 20% 100%, 0 100%);
}

.box::after {
  transform: translate(100%, -100%);
  background-color: #068d7e;
  background: conic-gradient(#eebc1f 75%, #068d7e 0) 0 0 / 180% 180%;
  clip-path: polygon(80% 20%, 100% 0, 100% 100%, 0% 100%, 20% 80%, 80% 80%);
}

.box img {
  position: absolute;
  width: 64%;
  left: 50%;
  top: 50%;
  transform: translateX(120%) translateY(-200%) rotatez(-45deg);
  padding-bottom: 20%;
  box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}

.controle {
  color: #fff;
  position: absolute;
  left: 50%;
  bottom: 5vh;
  transform: translate(-50%, 0);
}

.box.play::before,
.box.play::after {
  transform: none;
}

.box.play img {
  transform: translateX(-50%) translateY(-50%) rotatez(-45deg);
}