main {
  padding: 0 auto;

  ul {
    position: relative;
  }

  li {
    list-style: none;
  }

  li:hover {
    .right {
      display: block;
    }
  }
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .left {
    width: 200px;
  }
  .right {
    width: 320px;
  }

  .left {
    background-color: red;
    height: 26px;
    text-align: center;
    a {
      color: white;
      font-size: 16px;
    }
  }

  .left:hover {
    cursor: pointer;
  }

  .right {
    position: absolute;
    left: 240px;
    top: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
