*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    --deepBlue: #091921;
    --clockHeight: 21.875rem;
}
.clock-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--deepBlue);
}

.clock{
    /* 350px */
    width: 21.875rem;
    height: 21.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--deepBlue) url(clock.png);
    background-size: cover;
    border: 4px solid var(--deepBlue);
}