$side:120px
$1:90px
$num: 10 
$dur:10s

@mixin plane($w, $h)
    width: $w
    height: $h
    transform-style: preserve-3d

@mixin view($p)
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    perspective: $p
    