* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f3f3f3;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a {
  color: black;
}

footer .ft-icon {
  padding-top: 3.125rem;
}

footer .ft-phone {
  width: 27.9375rem;
  height: 4.25rem;
  text-align: center;
  margin-top: 1.25rem;
  border: 0.0625rem solid rgba(185, 185, 185, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

footer .ft-phone .footer-phone-icon {
  width: 2rem;
  height: 2rem;
  background-position: -0.0625rem -18.1875rem;
}

footer .ft-phone .footer-phone-tele {
  width: 22.5rem;
  height: 1.875rem;
  color: #14916a;
  font-size: 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

footer .ft-phone .footer-phone-tele::before,
footer .ft-phone .footer-phone-tele::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: #f3f3f3;
}

footer .ft-phone .footer-phone-tele::before {
  left: -80px;
  top: -5px;
}

footer .ft-phone .footer-phone-tele::after {
  left: 380px;
  top: -5px;
}

footer .ft-content {
  margin-top: 3.125rem;
  padding-bottom: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .ft-content h5 {
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.875rem;
  margin-top: 1.875rem;
}

footer .ft-content .ft-content-left {
  width: 18.75rem;
}

footer .ft-content .ft-content-left p {
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #555555;
}

footer .ft-content .ft-content-left .ft-name span {
  background-position: 0 -21.375rem;
}

footer .ft-content .ft-content-left .ft-address span {
  background-position: 0 -23.5rem;
}

footer .ft-content .ft-content-left .ft-contact-tele .ft-tele-area {
  font-size: 0.75rem;
  width: 60px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

footer .ft-content .ft-content-left .ft-contact-tele span {
  background-position: -0.0625rem -25.1875rem;
}

footer .ft-content .ft-content-left .ft-contact-tele p {
  width: 160px;
}

footer .ft-content .ft-content-left .ft-email span {
  background-position: -0.0625rem -26.625rem;
}

footer .ft-content .ft-content-left .ft-contact-tele,
footer .ft-content .ft-content-left .ft-name,
footer .ft-content .ft-content-left .ft-address,
footer .ft-content .ft-content-left .ft-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .ft-content .ft-content-left .ft-contact-tele p,
footer .ft-content .ft-content-left .ft-name p,
footer .ft-content .ft-content-left .ft-address p,
footer .ft-content .ft-content-left .ft-email p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

footer .ft-content .ft-content-nav {
  width: 30rem;
  font-size: 0.75rem;
}

footer .ft-content .ft-content-nav a {
  line-height: 1.5rem;
  color: #555555;
}

footer .ft-content .ft-content-nav a:hover {
  text-decoration: underline;
}

footer .ft-content .ft-content-nav .signature {
  margin-top: 0.625rem;
  text-align: center;
}

footer .ft-content .ft-content-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .ft-content-right {
  width: 18rem;
  margin-left: 3rem;
}

footer .ft-content-right .footer-logo-list {
  line-height: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .ft-content-right .footer-logo-list a .ft-wx {
  background-position: -3rem -2.5rem;
}

footer .ft-content-right .footer-logo-list a .ft-wx:hover {
  background-position: -9.625rem -7.1875rem;
}

footer .ft-content-right .footer-logo-list a .ft-wb {
  background-position: -3rem -5.375rem;
}

footer .ft-content-right .footer-logo-list a .ft-wb:hover {
  background-position: -9.5rem -9.75rem;
}

footer .ft-content-right .footer-logo-list a .ft-rr {
  background-position: -3rem -8.125rem;
}

footer .ft-content-right .footer-logo-list a .ft-rr:hover {
  background-position: -9.5rem -12.3125rem;
}

footer .ft-content-right .footer-logo-list a .ft-yy {
  background-position: -3rem -10.875rem;
}

footer .ft-content-right .footer-logo-list a .ft-yy:hover {
  background-position: -9.625rem -14.875rem;
}

footer .ft-content-right .footer-logo-list a .ft-qj {
  background-position: -3rem -13.75rem;
}

footer .ft-content-right .footer-logo-list a .ft-qj:hover {
  background-position: -9.5rem -17.5rem;
}

footer .ft-content-right .footer-logo-list a .ft-rabbit {
  background-position: -3rem -16.75rem;
}

footer .ft-content-right .footer-logo-list a .ft-rabbit:hover {
  background-position: 0 -15.5rem;
}

footer .ft-content-right .manifesto {
  font-size: 0.875rem;
  color: #14916a;
}

footer .ft-bottom-copyright {
  width: 100%;
  border-top: 1px solid #f3f3f3;
  text-align: center;
  padding: 0.625rem;
  font-size: 0.75rem;
  color: #555555;
}

.icon {
  display: inline-block;
  background-image: url(../images/public/icon.png);
  width: 1.75rem;
  height: 1.625rem;
}

.icon-wx {
  background-position: -0.125rem -2.5rem;
}

.icon-wx:hover {
  background-position: -9.6875rem -7.1875rem;
}

.icon-wb {
  background-position-y: -5rem;
}

.icon-wb:hover {
  background-position: -9.5rem -9.75rem;
}

.icon-rr {
  background-position-y: -7.5rem;
}

.icon-rr:hover {
  background-position: -9.5rem -12.3125rem;
}

.icon-yy {
  background-position-y: -10.2rem;
}

.icon-yy:hover {
  background-position: -9.875rem -15.1rem;
}

.icon-qj {
  background-position-y: -12.5rem;
}

.icon-qj:hover {
  background-position: -9.5rem -17.5rem;
}

.icon-rabbit {
  background-position: -3.4375rem -16.625rem;
}

.icon-rabbit:hover {
  background-position: 0 -15.3125rem;
}

header {
  background-image: url(../images/index/bg-top.jpg);
  background-size: 100% 100%;
  height: 120vh;
  width: 99vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .top-icon-area {
  width: 100%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .top-icon {
  width: 100%;
  height: 6.25rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 4px solid #14916a;
  position: relative;
  overflow: hidden;
}

header nav .top-icon::after {
  position: absolute;
  right: -1rem;
  top: -1.25rem;
  display: block;
  content: "";
  width: 1.9375rem;
  height: 1.9375rem;
  background: #14916a;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
}

header nav ul li {
  width: 100%;
  height: 2.8125rem;
  text-align: center;
}

header nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li a span {
  display: inline-block;
  width: 8.5rem;
  /* 136/16 */
  font-size: 1.125rem;
  padding: 5px;
  text-align: left;
  padding-left: 1.6rem;
}

header nav ul li a:hover span {
  background-color: #fff;
  color: #14916a;
  border-top-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

header nav ul li .active {
  background-color: #fff;
  color: #14916a;
  border-top-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

header nav .contact-area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

header nav .contact-area .phone-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14.625rem;
  height: 4.5625rem;
  border: 1px solid rgba(236, 236, 236, 0.3);
}

header nav .contact-area .phone-area .phone-num {
  color: #ececec;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.375rem;
  font-weight: 600;
  max-width: 10rem;
  max-height: 3.75rem;
  overflow: hidden;
}

header nav .contact-area .icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5vh;
  padding: 2rem;
}

header nav .contact-area .icon-list .qrcode {
  position: absolute;
  margin-top: 8px;
  background-color: white;
  padding: 5px;
  border-radius: .3125rem;
  display: none;
}

header nav .contact-area .icon-list .qrcode::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -15px;
  margin-left: 1px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 20% 100%, 20% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 20%, 20% 100%, 20% 100%, 0 100%);
}

header nav .contact-area .icon-list .icon-wx:hover + .qrcode,
header nav .contact-area .icon-list .qrcode:hover {
  display: block;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/index/main-bg.png);
}

main .main-top {
  width: 75rem;
  padding-top: 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main-top .main-top-left {
  width: 31.0625rem;
  height: 26.4375rem;
  position: relative;
}

main .main-top .main-top-left .main-top-content {
  margin-top: 3.125rem;
  font-size: 16px;
  height: 18rem;
  overflow: hidden;
}

main .main-top .main-top-left .contact-us {
  display: block;
  background-color: #fff;
  color: #14916a;
  width: 10.25rem;
  height: 2.125rem;
  border-radius: 100px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  bottom: -1.25rem;
  right: 0;
  -webkit-box-shadow: 1px 1px 10px rgba(11, 2, 5, 0.31);
          box-shadow: 1px 1px 10px rgba(11, 2, 5, 0.31);
}

main .main-top .main-top-left .contact-us::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left: 5px solid #14916a;
  right: 1rem;
}

main .main-top .main-top-right {
  width: 41.875rem;
  height: 28.75rem;
  -webkit-box-shadow: 1px 1px 24px rgba(11, 2, 5, 0.29);
          box-shadow: 1px 1px 24px rgba(11, 2, 5, 0.29);
  overflow: hidden;
  border-bottom: 0.1875rem solid #14916a;
}

main .main-bottom {
  width: 75rem;
  margin-top: 6.25rem;
}

main .main-bottom .main-bottom-bottom {
  padding-bottom: 3.125rem;
}

main .main-bottom .main-bottom-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .main-bottom .main-bottom-bottom ul li {
  width: 25%;
  position: relative;
  margin: .425rem;
}

main .main-bottom .main-bottom-bottom ul li:hover .container-bottom-context {
  display: inline-block;
}

main .main-bottom .main-bottom-bottom ul .container-bottom-context {
  position: absolute;
  background: rgba(40, 158, 121, 0.85);
  width: 100%;
  height: 3.875rem;
  padding: 5px;
  bottom: 0;
  display: none;
}

main .main-bottom .main-bottom-bottom ul .container-bottom-context h4 {
  font-size: 1.25rem;
  font-weight: unset;
}
/*# sourceMappingURL=index.css.map */