body {
  background: #f2f2f2;
}
.page2 {
  background: #1b1b1b;

  .logo {
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
  }

  ul {
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;

    li {
      float: left;
      display: inline-block;
      background: #1b1b1b;
      //
      margin: 22px;

      a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        padding: 8px 15px;
      }

      //   add hover
      a:hover {
        color: cyan;
        border-radius: 5px;
        // 添加渐变色
        box-shadow: 0 0 5px #33ffff, 0 0 10px #66ffff;
      }
    }
    // nav > ul > ul> li

    // nav > ul > ul > li >a
    // 子菜单去除渐变背景色
    ul li a:hover {
      box-shadow: none;
    }
    // 子菜单
    ul {
      margin-top: -20px;
      position: absolute;
      top: 90px;
      border-top: 3px solid cyan;
      opacity: 0;
      visibility: hidden;
      transition: top 0.3s;

      // nav > ul > ul >ul
      ul {
        border-top: none;

        li {
          position: relative;
          top: -60px;
          left: 150px;
        }
      }
      li {
        position: relative;
        margin: 0px;
        width: 130px;
        float: none;

        display: list-item;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);

        // nav > ul > ul >li >a

        a {
          line-height: 50px;
        }
      }
    }

    li:hover > ul {
      top: 70px;
      opacity: 1;
      visibility: visible;
    }
  }

  .show {
    display: none;
    @media all and (max-width: 968px) {
      border: 1px solid red;
      display: block;
      color: white;
      font-size: 18px;
      padding: 0 20px;
      line-height: 70px;
      cursor: pointer;
    }
  }
  .icon,
  input {
    display: none;
  }
  .fa-plus {
    font-size: 15px;
    margin-left: 40px;
  }

  .last-menu {
    margin-left: -20px;
  }

  //   适配
  //! =======================================================
  //   !  存在BUG 待查
  //   !  存在BUG 待查
  //   !  存在BUG 待查
  //   !  元素消失，1，多层嵌套带来的作用域问题，2，不利的组织结构
  //   TODO 》》 SCSS / LESS ：最多嵌套三层
  // !=======================================================
  @media all and (max-width: 968px) {
    ul {
      margin-right: 0px;
      float: left;
    }
    // this is last menu
    .last-menu {
      margin-left: -20px;
    }
    .logo {
      padding-left: 30px;
      width: 100%;
    }
    // hide all Menu
    .show + a,
    ul {
      display: none;
    }
    // show lable css
    .show:hover {
      color: cyan;
    }
    .iocn {
      display: block;
      color: white;
      position: absolute;
      top: 0;
      right: 40px;
      line-height: 70px;
      cursor: pointer;
      font-size: 25px;
    }
    ul li,
    ul ul li {
      display: block;
      width: 100%;
    }

    ul li a:hover {
      box-shadow: none;
    }

    ul ul {
      top: 70px;
      border-top: 0px;
      float: none;
      position: static;
      display: none;
      opacity: 1;
      visibility: visible;

      a {
        padding-left: 40px;
      }

      ul li {
        position: static;
      }
    }

    [id^="btn"]:checked + ul {
      display: block;
    }

    ul ul li {
      border-bottom: 0px;
    }
    span.cancel::before {
      content: "\f00d";
    }
  }

  .content {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    //  动画
    transform: translate(-50%, -50%);
    text-align: center;
  }

  header {
    font-size: 35px;
    font-weight: 600;
    padding: 10px 0;
  }
  p {
    font-size: 30px;
    font-weight: 500;
  }
}
.page2:after {
  content: "";
  clear: both;
  display: table;
}

.content {
  text-align: center;
  margin: 40px;
}
