.page-2-main{
    background-color: orange;
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 360px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    div{
        border: 1px solid red;
        width: 800px;
        display: flex;
        align-items: center;
        div{
            border: 1px solid #6666;
            flex-direction: column;
            section{
                width: 9em;
                height: 9em;
                background-color: white;
                border-radius: 50%;
                p{
                    margin: 40% auto;
                }
            }
        }
    }
}