.page4-main {
  width: 1200px;
  border: 1px solid #6666;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: rgb(255, 200, 97);
  .title {
    text-align: center;
    border: 1px solid red;
  }
  .lines {
    margin: auto;
    width: 120px;
    height: 0px;
    border: 1px solid red;
  }
  .text {
    margin: auto;
    border: 1px solid red;
    width: 220px;
    text-align: center;
  }
  .buttons {
    margin: auto;
    margin-top: 2em;
    border: 1px solid red;
    button {
      margin: 0 2em 0 2em;
      width: 8em;
      border: 0;
      height: 2em;
      background-color: white;
    }
    button:hover {
      background-color: black;
      color: white;
    }
  }
  .images {
    flex: 6;
    margin: 2em auto;
    border: 1px solid red;
    width: 1200px;

    display: grid;
    grid-template-columns: repeat(4, 22%);
    justify-content: space-around;
    grid-gap: 40px;
    div {
      height: 120px;
      border: 1px solid red;
    }
  }
}

.page4-main2 {
  width: 1200px;
  height: 800px;
  margin: 2em auto;
  border: 1px solid red;
  .title{
      text-align: center;
    //   margin: 0 auto;
  }
  .lines{
      width: 120px;
      height:0 ;
      border: 1px solid red;
      margin: 0 auto;
  }
  .text{
      text-align: center;
      margin-top: 1em;
      color: gray;
  }
  .img-box{
      border: 1px solid red;
      display: flex;
      justify-content: center;
      margin-top: 2em;
      *{
          margin-left: 3em ;
      }
      .img-text-left{
          text-align: right;
      }
      .img-text-left text{
          color: gray;
      }
      .img-text-right{
          text-align: left;
      }
      .img-text-right text{
          color: gray;
      }
      .img{
          width: 120px;
          height: 120px;
          border-radius: 50%;
          border: 1px solid red;
      }
  }
}
