*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    // border: 1px solid red;
}
html{
    // global gray
    // filter: grayscale(100%);
}
body {
    background-color: #f3f3f3;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}


$global-blue: #14916a;