.icon {
    display: inline-block;
    background-image: url(../images/public/icon.png);
    width: 1.75rem;
    height: 1.625rem;
}

.icon-wx {
    background-position: -0.125rem -2.5rem;
}

.icon-wx:hover {
    background-position: -9.6875rem -7.1875rem;
}

.icon-wb {
    background-position-y: -5rem;
}

.icon-wb:hover {
    background-position: -9.5rem -9.75rem;
}

.icon-rr {
    background-position-y: -7.5rem;
}

.icon-rr:hover{
    background-position: -9.5rem -12.3125rem;
}

.icon-yy{
    background-position-y: -10.2rem;
}
.icon-yy:hover{
    background-position: -9.875rem -15.1rem;
}

.icon-qj{
    background-position-y: -12.5rem ;
}

.icon-qj:hover{
    background-position: -9.5rem -17.5rem;
}

.icon-rabbit{
    background-position: -3.4375rem -16.625rem;
}

.icon-rabbit:hover{
    background-position: 0 -15.3125rem;
}