@import "_config";
@import "_icon";
@import "_nav-head";
@import "_footer";

header {
    background-image: url(../images/public/bg.jpg);
}

main {
    position: relative;

    .main-top {

        width: 80rem;
        margin: 0 auto;
        display: flex;
        background-color: #ffffff;
    }

    .main-top-left {
        width: 36rem;
        padding: 4rem;

        h4 {
            line-height: 2.1875rem;
            font-size: 1.125rem;
            font-weight: 600;
            margin-bottom: .625rem;
        }

        .main-addr {
            line-height: 35px;
            font-size: 16px;
            color: #000000;

            span {
                color: rgba(0, 0, 0, 0.7);
                font-weight: 600;
            }
        }

        .off-time {
            margin-top: .625rem;
            color: #999999;
            font-size: .875rem;
        }

        .scan-qr {
            display: flex;
            margin-top: 2rem;
        }

        .scan-qr .qrcode-desc {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-left: 3rem;

            .scan-tit {
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 2.1875rem;
            }

            .scan-desc {
                font-size: 1.125rem;
                line-height: 2.1875rem;

                a {
                    color: $global-blue;
                }
            }
        }
    }

    .main-top-right {
        width: 36rem;
        padding: 4rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 2.1875rem;
            margin-bottom: 1.25rem;
        }

        form label {
            width: 6rem;
            display: inline-flex;
            justify-content: flex-end;
            font-weight: 700;
            font-size: .875rem;
            margin-bottom: 2rem;
        }

        form span {
            color: red;
        }

        form input,
        form select {
            width: 16.25rem;
            height: 1.875rem;

            padding-left: 10px;
        }

        form .connect-now {
            background-color: #333;
            height: 3.75rem;
            border-radius: 30px;
            // text-align: center;
            // margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 1.5rem;
            line-height: 2.1875rem;
        }
    }

    .main-bottom {
        position: relative;

        #DMap {
            width: 100%;
            height: 34.25rem;
        }
    }

    .main-bottom::after,
    #DMap::after {
        position: absolute;
        content: "";
        width: 15rem;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .main-bottom::before {
        top: 0;
    }

    .main-bottom::after {
        top: 0;
        right: 0;
    }
}