* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f3f3f3;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.icon {
  display: inline-block;
  background-image: url(../images/public/icon.png);
  width: 1.75rem;
  height: 1.625rem;
}

.icon-wx {
  background-position: -0.125rem -2.5rem;
}

.icon-wx:hover {
  background-position: -9.6875rem -7.1875rem;
}

.icon-wb {
  background-position-y: -5rem;
}

.icon-wb:hover {
  background-position: -9.5rem -9.75rem;
}

.icon-rr {
  background-position-y: -7.5rem;
}

.icon-rr:hover {
  background-position: -9.5rem -12.3125rem;
}

.icon-yy {
  background-position-y: -10.2rem;
}

.icon-yy:hover {
  background-position: -9.875rem -15.1rem;
}

.icon-qj {
  background-position-y: -12.5rem;
}

.icon-qj:hover {
  background-position: -9.5rem -17.5rem;
}

.icon-rabbit {
  background-position: -3.4375rem -16.625rem;
}

.icon-rabbit:hover {
  background-position: 0 -15.3125rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 37.5rem;
  background-image: url(../images/about/bg.jpg);
  background-position: -1.25rem -1.25rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 12vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
}

header nav .nav-logo {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header nav .nav-logo .nav-logo-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  height: 100%;
  border-bottom-right-radius: 2.5rem;
  margin-right: 5vw;
}

header nav .nav-logo .nav-logo-area img {
  -o-object-fit: none;
     object-fit: none;
}

header nav .nav-logo::before {
  position: absolute;
  top: -1rem;
  left: -1rem;
  content: "";
  width: 2rem;
  height: 2rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #14916a;
}

header nav .nav-li-list ul {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 12.3vw;
}

header nav .nav-li-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .nav-li-list ul li a {
  display: block;
  line-height: 2vw;
  width: 6vw;
  text-align: center;
  border-top-left-radius: .9375rem;
  border-bottom-right-radius: .9375rem;
  overflow: hidden;
  position: relative;
  margin: 6px;
}

header nav .nav-li-list ul li a::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #14916a;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -0.625rem;
  right: -0.625rem;
  display: none;
}

header nav .nav-li-list ul li :hover {
  color: #000000;
  background-color: #fff;
  display: block;
}

header nav .nav-li-list ul li:hover a::after {
  display: block;
}

header nav .nav-icon-list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav .nav-icon-list a:nth-child(1) {
  padding-left: 5vw;
}

header nav .nav-icon-list a {
  position: relative;
}

header nav .nav-icon-list a .qrcode {
  position: absolute;
  margin-top: 1rem;
  display: none;
}

header nav .nav-icon-list a .qrcode::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -10px;
  margin-left: 5px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 20% 100%, 20% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 20%, 20% 100%, 20% 100%, 0 100%);
}

header nav .nav-icon-list .icon-wx:hover + .qrcode,
header nav .nav-icon-list .qrcode:hover {
  display: block;
}

header .nav-bottom-area {
  width: 100%;
  padding-left: 40vh;
  height: 60vh;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: flex-end;
}

header .nav-bottom-area div {
  width: 20.8125rem;
  height: 8.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 2vw;
  background-color: rgba(65, 165, 133, 0.8);
  color: #fff;
  border-top-left-radius: 3.75rem;
  border-bottom-right-radius: 3.75rem;
}

header .nav-bottom-area div h5 {
  font-size: 1.25rem;
}

header .nav-bottom-area div h2 {
  font-size: 2.25rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a {
  color: black;
}

footer .ft-icon {
  padding-top: 3.125rem;
}

footer .ft-phone {
  width: 27.9375rem;
  height: 4.25rem;
  text-align: center;
  margin-top: 1.25rem;
  border: 0.0625rem solid rgba(185, 185, 185, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

footer .ft-phone .footer-phone-icon {
  width: 2rem;
  height: 2rem;
  background-position: -0.0625rem -18.1875rem;
}

footer .ft-phone .footer-phone-tele {
  width: 22.5rem;
  height: 1.875rem;
  color: #14916a;
  font-size: 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

footer .ft-phone .footer-phone-tele::before,
footer .ft-phone .footer-phone-tele::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: #f3f3f3;
}

footer .ft-phone .footer-phone-tele::before {
  left: -80px;
  top: -5px;
}

footer .ft-phone .footer-phone-tele::after {
  left: 380px;
  top: -5px;
}

footer .ft-content {
  margin-top: 3.125rem;
  padding-bottom: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .ft-content h5 {
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.875rem;
  margin-top: 1.875rem;
}

footer .ft-content .ft-content-left {
  width: 18.75rem;
}

footer .ft-content .ft-content-left p {
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #555555;
}

footer .ft-content .ft-content-left .ft-name span {
  background-position: 0 -21.375rem;
}

footer .ft-content .ft-content-left .ft-address span {
  background-position: 0 -23.5rem;
}

footer .ft-content .ft-content-left .ft-contact-tele .ft-tele-area {
  font-size: 0.75rem;
  width: 60px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

footer .ft-content .ft-content-left .ft-contact-tele span {
  background-position: -0.0625rem -25.1875rem;
}

footer .ft-content .ft-content-left .ft-contact-tele p {
  width: 160px;
}

footer .ft-content .ft-content-left .ft-email span {
  background-position: -0.0625rem -26.625rem;
}

footer .ft-content .ft-content-left .ft-contact-tele,
footer .ft-content .ft-content-left .ft-name,
footer .ft-content .ft-content-left .ft-address,
footer .ft-content .ft-content-left .ft-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .ft-content .ft-content-left .ft-contact-tele p,
footer .ft-content .ft-content-left .ft-name p,
footer .ft-content .ft-content-left .ft-address p,
footer .ft-content .ft-content-left .ft-email p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

footer .ft-content .ft-content-nav {
  width: 30rem;
  font-size: 0.75rem;
}

footer .ft-content .ft-content-nav a {
  line-height: 1.5rem;
  color: #555555;
}

footer .ft-content .ft-content-nav a:hover {
  text-decoration: underline;
}

footer .ft-content .ft-content-nav .signature {
  margin-top: 0.625rem;
  text-align: center;
}

footer .ft-content .ft-content-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .ft-content-right {
  width: 18rem;
  margin-left: 3rem;
}

footer .ft-content-right .footer-logo-list {
  line-height: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .ft-content-right .footer-logo-list a .ft-wx {
  background-position: -3rem -2.5rem;
}

footer .ft-content-right .footer-logo-list a .ft-wx:hover {
  background-position: -9.625rem -7.1875rem;
}

footer .ft-content-right .footer-logo-list a .ft-wb {
  background-position: -3rem -5.375rem;
}

footer .ft-content-right .footer-logo-list a .ft-wb:hover {
  background-position: -9.5rem -9.75rem;
}

footer .ft-content-right .footer-logo-list a .ft-rr {
  background-position: -3rem -8.125rem;
}

footer .ft-content-right .footer-logo-list a .ft-rr:hover {
  background-position: -9.5rem -12.3125rem;
}

footer .ft-content-right .footer-logo-list a .ft-yy {
  background-position: -3rem -10.875rem;
}

footer .ft-content-right .footer-logo-list a .ft-yy:hover {
  background-position: -9.625rem -14.875rem;
}

footer .ft-content-right .footer-logo-list a .ft-qj {
  background-position: -3rem -13.75rem;
}

footer .ft-content-right .footer-logo-list a .ft-qj:hover {
  background-position: -9.5rem -17.5rem;
}

footer .ft-content-right .footer-logo-list a .ft-rabbit {
  background-position: -3rem -16.75rem;
}

footer .ft-content-right .footer-logo-list a .ft-rabbit:hover {
  background-position: 0 -15.5rem;
}

footer .ft-content-right .manifesto {
  font-size: 0.875rem;
  color: #14916a;
}

footer .ft-bottom-copyright {
  width: 100%;
  border-top: 1px solid #f3f3f3;
  text-align: center;
  padding: 0.625rem;
  font-size: 0.75rem;
  color: #555555;
}

header {
  background-image: url(../images/public/bg.jpg);
}

main {
  position: relative;
}

main .main-top {
  width: 80rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
}

main .main-top-left {
  width: 36rem;
  padding: 4rem;
}

main .main-top-left h4 {
  line-height: 2.1875rem;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: .625rem;
}

main .main-top-left .main-addr {
  line-height: 35px;
  font-size: 16px;
  color: #000000;
}

main .main-top-left .main-addr span {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
}

main .main-top-left .off-time {
  margin-top: .625rem;
  color: #999999;
  font-size: .875rem;
}

main .main-top-left .scan-qr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

main .main-top-left .scan-qr .qrcode-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 3rem;
}

main .main-top-left .scan-qr .qrcode-desc .scan-tit {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.1875rem;
}

main .main-top-left .scan-qr .qrcode-desc .scan-desc {
  font-size: 1.125rem;
  line-height: 2.1875rem;
}

main .main-top-left .scan-qr .qrcode-desc .scan-desc a {
  color: #14916a;
}

main .main-top-right {
  width: 36rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-top-right h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.1875rem;
  margin-bottom: 1.25rem;
}

main .main-top-right form label {
  width: 6rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 700;
  font-size: .875rem;
  margin-bottom: 2rem;
}

main .main-top-right form span {
  color: red;
}

main .main-top-right form input,
main .main-top-right form select {
  width: 16.25rem;
  height: 1.875rem;
  padding-left: 10px;
}

main .main-top-right form .connect-now {
  background-color: #333;
  height: 3.75rem;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  line-height: 2.1875rem;
}

main .main-bottom {
  position: relative;
}

main .main-bottom #DMap {
  width: 100%;
  height: 34.25rem;
}

main .main-bottom::after,
main #DMap::after {
  position: absolute;
  content: "";
  width: 15rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

main .main-bottom::before {
  top: 0;
}

main .main-bottom::after {
  top: 0;
  right: 0;
}
/*# sourceMappingURL=contact.css.map */