@import "_config";
@import "_icon";
@import "_nav-head";
@import "_footer";

header{
    background-image: url(../images/public/bg.jpg);
}


main {
    margin: 2rem auto;
    // margin-top: call($name: , $args: …);
    background-color: #ffffff;
    width: 80rem;

    ul {

        padding: 0 1rem;

        li:nth-child(1) {
            padding-top: 1rem;
        }

        li {

            display: flex;
            padding-bottom: 1rem;

            .img-article {
                padding-left: 2rem;
                color: #999;
            }

            .article-tit a {
                color: #333;
                font-size: 1.25rem;
                line-height: 2.1875rem;
            }

            .article-tit a:hover {
                text-decoration: underline;
            }

            .article-content {
                max-height: 5.6rem;
                overflow: hidden;
            }
            .article-content p {
                font-size: 0.875rem;
            }

            .article-info span{
                font-size: 0.75rem;
                line-height: 1.25rem;
                // margin-right: auto;
                display: inline-block;
                margin-top: 1rem;
            }
            .more-area a{
                color: $global-blue;
                font-size: 0.75rem;
            }
        }
    }
}