/* html,
body {
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    margin: 0px;
} */

.wrapper>div {
    padding-left: 20px;
    color: #ffeead;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: #96ceb4;
}

.title {
    color: #ff6f69;
    background-color: #ffeead;
    text-align: center;
    padding: 30px 0 10px;
    margin: 0px;
}

.menu {
    background-color: #ff6f69;
}

.content {
    background-color: #ffcc5c;
}

.footer {
    background-color: #88d8b0;
}

/* core code */
.wrapper {
    /* height: 100%; */
    display: grid;
    /* grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 100px 40px; */

    grid-template: 40px 200px 40px / repeat(12, 1fr);


}

.header {
    /* grid-column: span 12;
     */
    /* grid-column-start: 1;
    grid-column-end: 13; */

    grid-column: 1 / -1;
}

.menu {
    grid-column: span 4;
}

.content {
    grid-column: span 8;
}

.footer {
    grid-column: span 12;
}

@media screen and (max-width: 480px) {
    .header {
        grid-column: span 6;
    }

    .menu {
        grid-row: 1;
        grid-column: span 6;
    }

    .content {
        grid-column: span 12;
    }
}