.btn-area {
  display: flex;
  gap: 55px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  button {
    background-color: #f60;
    border: none;
    height: 61px;
    padding: 21px;
    border-radius: 21px;
    position: relative;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  button::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f60;
    position: absolute;
    display: none;
  }
  .btn-1::after {
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .btn1-hover:hover .btn-1::after {
    display: block;
  }
  .btn-2::after {
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 5px solid transparent;
    border-top: 5px solid #f60;
  }
  .btn2-hover:hover .btn-2::after {
    display: block;
  }
  .btn-3::after {
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-bottom: 5px solid transparent;
    border-right: 5px solid #f60;
  }
  .btn3-hover:hover .btn-3::after {
    display: block;
  }
  .btn-4::after {
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .btn4-hover:hover .btn-4::after {
    display: block;
  }
}
