.footer {
  background: #f3f3f3;
  border-top: 1px solid rgba(211, 211, 211, 0.9);
  border-bottom: 1px solid rgba(211, 211, 211, 0.9);
}
.footer-logo {
  text-align: center;
  padding-top: 50px;
}
.footer-phone {
  text-align: center;
  width: 447px;
  height: 68px;
  border: 1px solid rgba(185, 185, 185, 0.4);
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}
.footer-phone::after {
  position: absolute;
  content: "";
  width: 0;
  height: 25px;
  top: 25px;
  left: -1px;
  border-left: 1px solid #f3f3f3;
}
.footer-phone::before {
  position: absolute;
  content: "";
  width: 0;
  height: 25px;
  top: 25px;
  left: 100%;
  border-left: 1px solid #f3f3f3;
  z-index: 10;
}
.footer-phone-font {
  width: 32px;
  height: 32px;
  background-position: -1px -291px;
  position: relative;
  top: 20px;
}
.footer-phone-tele {
  position: relative;
  top: 12px;
  left: 3px;
  display: inline-block;
  color: #14916a;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.introduce {
  width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 30px;
}
.footer-contact {
  float: left;
  width: 300px;
}

.introduce h5 {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 30px;
}
.footer-name span {
  width: 19px;
  height: 16px;
  background-position-y: -342px;
  vertical-align: middle;
}
.footer-contact p {
  margin: 0;
  display: inline-block;
  font-size: 12px;
  line-height: 24px;
  color: #555555;
}
.footer-address span {
  width: 19px;
  height: 16px;
  background-position: 0 -376px;
  vertical-align: middle;
}
.footer-contact-tele span {
  width: 19px;
  height: 16px;
  background-position: -1px -403px;
  vertical-align: middle;
}
.footer-email span {
  width: 19px;
  height: 16px;
  background-position: -1px -426px;
  vertical-align: middle;
}
.footer-nav {
  float: left;
  width: 447px;
  text-align: left;
  margin-left: 120px;
}
.footer-nav {
  font-size: 12px;
  line-height: 24px;
  color: #555555;
}
.footer-nav a {
  font-size: 12px;
  line-height: 24px;
  color: #555555;
}
.footer-nav a:hover {
  text-decoration: underline;
}
.signature {
  margin-top: 10px;
}

.footer-entry {
  float: left;
  width: 234px;
}
.footer-login-list {
  line-height: 45px;
}
.footer-login-list a {
  margin-right: 5px;
}
.fl-wx {
  width: 28px;
  height: 26px;
  background-position: -48px -40px;
}
.fl-wx:hover {
  background-position: -154px -115px;
}
.fl-wb {
  width: 28px;
  height: 26px;
  background-position: -48px -86px;
}
.fl-wb:hover {
  background-position: -152px -156px;
}
.fl-rr {
  width: 28px;
  height: 26px;
  background-position: -48px -130px;
}
.fl-rr:hover {
  background-position: -152px -197px;
}

.fl-yy {
  width: 28px;
  height: 26px;
  background-position: -48px -174px;
}
.fl-yy:hover {
  background-position: -153px -238px;
}
.fl-qj {
  width: 28px;
  height: 26px;
  background-position: -48px -220px;
}
.fl-qj:hover {
  background-position: -152px -280px;
}
.fl-rabbit {
  width: 32px;
  height: 26px;
  background-position: -48px -268px;
}
.fl-rabbit:hover {
  background-position: 0 -248px;
}
.manifesto {
  font-size: 14px;
  color: #14916a;
}
.copyright {
  background: #f3f3f3;
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  color: #555555;
}
