* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*全局变量 */
  --deepBlue: #091921;
  --clockHeight: 21.875rem;
  --deepGray: rgba(255, 255, 255, 0.05);
  --deepBlack: rgba(0, 0, 0, 0.3);
}
.clock-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--deepBlue);
}

.clock {
  /* 350px */
  width: var(--clockHeight);
  height: var(--clockHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--deepBlue) url(clock.png);
  background-size: cover;
  border: 4px solid var(--deepBlue);
  border-radius: 50%;
}
