@import "_layout";

header {
    background-image: url(../img/about-bg.png);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .main-cont {
        display: flex;
        width: 100%;
        background-color: #f3f3f3;
        flex-direction: column;

        img {
            height: 100%;
        }


        p {
            padding: 20px;
            font-size: 32px;
        }

        a {
            align-self: flex-end;
            // align-content: flex-end;/@at-root
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            margin-bottom: 20px;
            width: 172px;
            height: 60px;
            font-size: 27px;
            color: #f3f3f3;
            background-color: $global-green;
            // text-align: center;
            border-top-left-radius: 25px;
            border-bottom-right-radius: 25px;
        }
    }


    .img-list {
        position: relative;
        width: 100%;

        img {
            width: 100%;
        }

        #btn-1 {
            opacity: 0.8;
            fill: rgba(20, 145, 106, 1);
        }

        .btn-1 {
            position: absolute;
            overflow: visible;
            width: 42px;
            height: 42px;
            right: 40px;
            top: 50%;
        }

        #btn-1-2 {
            fill: rgba(245, 245, 245, 1);
        }

        .btn-1-2 {
            overflow: visible;
            position: absolute;
            width: 13px;
            height: 22px;
            right: 52.5px;
            top: 51.5%;
            transform: matrix(1, 0, 0, 1, 0, 0);
        }

        #btn-2 {
            opacity: 0.8;
            fill: rgba(20, 145, 106, 1);
        }

        .btn-2 {
            position: absolute;
            overflow: visible;
            width: 42px;
            height: 42px;
            left: 40px;
            top: 50%;
        }

        #btn-2-2 {
            fill: rgba(245, 245, 245, 1);
        }

        .btn-2-2 {
            overflow: visible;
            position: absolute;
            width: 13px;
            height: 22px;
            left: 52.5px;
            top: 51.5%;
            transform: matrix(1, 0, 0, 1, 0, 0);
        }

        .img-tit {
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }

        .img-tit span:nth-child(1) {
            font-size: 27px;
        }

        .img-tit span:nth-child(2) {
            font-size: 20px;
        }
    }
}