@charset "UTF-8";
html {
  widows: 1920px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: MicrosoftYaHei;
}

body {
  background-color: #eeeeee;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

/* 顶部联系方式栏 */
.contact {
  border-top: 6px solid #2498f2;
  overflow: hidden;
}

.contact-left {
  float: left;
  height: 39px;
  line-height: 39px;
}

.contact-left a {
  color: #999;
}

.contact-left a {
  font-size: 14px;
}

.contact-left span {
  font-size: 14px;
  color: #f93;
  margin-left: 5px;
}

.contact-right {
  float: right;
  height: 39px;
  line-height: 39px;
}

.contact-right span {
  float: right;
  font-size: 14px;
  color: #999;
  margin-right: 30px;
  cursor: pointer;
}

.contact-right span:first-of-type {
  margin-right: 0;
}

.contact-right b {
  font-size: 16px;
  color: #f93;
}

.contact-right i::before {
  position: relative;
  top: 1px;
}

/* logo 搜索部分 */
header .search {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.search-left {
  float: left;
}

.search-left img {
  display: inline-block;
  margin: 17px 0 13px;
}

.search-right {
  float: right;
}

.search-right ul {
  float: left;
  overflow: hidden;
}

.search-right li {
  float: left;
  line-height: 84px;
  color: #999;
  font-size: 14px;
  margin-right: 20px;
  position: relative;
}

.erect::after {
  content: "";
  width: 1px;
  height: 10px;
  background: #aaa;
  position: absolute;
  right: -10px;
  top: 50%;
  margin-top: -5px;
}

.search-right-ipt {
  margin: 21px 0 17px;
  /* display: inline-block; */
  float: left;
  position: relative;
  width: 468px;
}

.search-right-text {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 14px 0 13px 24px;
  width: 370px;
  border: none;
  border-radius: 21px;
  border-bottom-right-radius: 0;
  outline: none;
}

.search-right-btn {
  color: #fff;
  background: #f93;
  text-align: right;
  padding: 12px 29px 12px 60px;
  border: none;
  border-radius: 21px;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  z-index: -1;
}

.nav {
  height: 50px;
  line-height: 50px;
}

.nav-left {
  float: left;
}

.nav-left span {
  color: #999;
  font-size: 14px;
}

.nav-right {
  float: right;
}

.nav-right ul {
  overflow: hidden;
}

.nav-right li {
  float: left;
  font-size: 16px;
  color: #555;
  /* padding: 0 7px; */
  position: relative;
}

.nav-right li:hover a {
  color: #f93;
}

.nav-right li a {
  color: #555;
  padding: 0 20px;
  /* position: relative; */
}

.transi {
  height: 4px;
  width: 0;
  background: #f93;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  left: 5%;
}

.current {
  width: 90%;
}

li:hover .transi {
  width: 90%;
  /* display: block; */
  -webkit-transition: all .8s;
  transition: all .8s;
}

/* banner */
.banner {
  width: 100%;
  height: 460px;
  background: url(../images/banner/banner.jpg);
}

/* footer */
.footer-top {
  border-bottom: 1px #e6e6e6 solid;
  border-top: 1px #e6e6e6 solid;
}

.footer-top .wrap {
  padding: 26px 0 26px;
}

.footer-top-left {
  float: left;
  width: 500px;
}

.footer-top-right {
  float: left;
  width: 700px;
  text-align: right;
}

.footer-top-left p {
  font-size: 22px;
  color: #ff9f42;
  cursor: pointer;
}

.footer-top-left span {
  font-size: 14px;
  color: #999;
}

.footer-top-left .footer-left-color {
  color: #f93;
}

.footer-left-qr {
  float: left;
  margin-right: 25px;
  margin-top: 30px;
}

.footer-left-qr p {
  text-align: center;
  color: #666;
  font-size: 14px;
  margin-top: 10px;
}

.footer-right-top {
  border-bottom: 1px solid #ddd;
  padding: 0 20px 30px 0;
}

.footer-top-right ul {
  overflow: hidden;
}

.footer-top-right li {
  padding: 20px;
  float: left;
}

.footer-top-right li a {
  font-size: 16px;
  color: #999;
}

.footer-top-right li a:hover {
  color: #f93;
}

.footer-right-bottom {
  margin-top: 30px;
}

.footer-right-bottom div {
  float: right;
  margin-left: 20px;
}

.footer-right-bottom span {
  font-size: 14px;
  color: #666;
  line-height: 68px;
}

.footer-right-bottom a {
  color: #666;
}

.footer-bottom {
  background: #f1f1f1;
}

.footer-bottom .wrap {
  font-size: 12px;
  color: #999;
  padding: 17px 0;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.fix::after {
  content: "";
  clear: both;
  display: block;
}

main {
  margin: 0 auto;
  width: 1200px;
}

main section {
  margin-top: 20px;
}

.top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-section .left-area {
  width: 850px;
  padding: 20px;
  background-color: #ffffff;
}

.top-section .left-area .dynamic-tit {
  border-left: 3px solid;
  color: #FF9933;
  padding-left: 16px;
}

.top-section .left-area .dynamic-tit h2 {
  color: #FF9933;
}

.top-section .left-area .dynamic-left-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding-bottom: 20px;
}

.top-section .left-area .dynamic-left-top img {
  widows: 394px;
  height: 242px;
}

.top-section .left-area .dynamic-left-top .dynamic-news-area {
  margin-left: 20px;
  overflow: visible;
  width: 354px;
  white-space: nowrap;
  line-height: 30px;
  text-align: left;
  font-size: 14px;
  color: #333333;
}

.top-section .left-area .dynamic-left-top .dynamic-news-area span {
  display: inline-block;
}

.top-section .left-area .dynamic-icon-area {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 117px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.top-section .left-area .dynamic-icon-area .dynamic-icon-list {
  width: 200px;
}

.top-section .left-area .dynamic-icon-area .dynamic-icon-list .dynamic-icon-tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-section .left-area .dynamic-icon-area .dynamic-icon-list h2 {
  display: inline;
  margin-left: 10px;
  font-size: 22px;
  font-weight: 400;
  color: #FF9933;
}

.top-section .left-area .dynamic-icon-area .dynamic-icon-list .dynamic-icon-cont {
  color: rgba(0, 0, 0, 0.6);
}

.top-section .left-area .dynamic-icon-area img {
  background-color: rgba(0, 0, 0, 0);
  width: 64px;
  height: 64px;
  overflow: visible;
}

.top-section .left-area .industry-area {
  margin-top: 20px;
}

.top-section .left-area .industry-area .industry-tit {
  border-left: 3px solid;
  color: #FF9933;
  padding-left: 16px;
}

.top-section .left-area .industry-area .industry-card {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top-section .left-area .industry-area .industry-card .card {
  width: 393px;
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-section .left-area .industry-area .industry-card .card img {
  width: 138px;
  height: 96px;
}

.top-section .left-area .industry-area .industry-card .card > div {
  width: 300px;
  padding-left: 10px;
}

.top-section .left-area .industry-area .industry-card .card .card-tit {
  line-height: 26px;
}

.top-section .left-area .industry-area .industry-card .card .card-cont {
  color: rgba(0, 0, 0, 0.6);
}

.top-section .right-area {
  width: 330px;
  margin-left: 20px;
  height: 313px;
}

.top-section .right-area .right-top {
  background-color: #ffffff;
  padding: 20px;
}

.top-section .right-area .right-top img {
  width: 290px;
  height: 186px;
  margin-top: 20px;
}

.top-section .right-area .right-top h2 {
  font-size: 18px;
  font-weight: 400;
}

.top-section .right-area .right-top .search {
  margin-top: 20px;
  width: 300px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-section .right-area .right-top .search input {
  background-color: rgba(0, 0, 0, 0.12);
  border: none;
  margin-left: 10px;
  width: 222px;
  height: 36px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 15px;
}

.top-section .right-area .right-top .search a {
  display: inline-block;
  height: 36px;
  width: 68px;
  background-color: #FF9933;
  color: #ffffff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-section .right-area .right-bottom {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 20px;
  height: 436px;
}

.top-section .right-area .right-bottom .right-bottom-tit {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.top-section .right-area .right-bottom ol {
  margin-top: 10px;
  padding-left: 10px;
}

.top-section .right-area .right-bottom ol li {
  color: #FF9933;
  font-size: 14px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.teacher-area {
  background-color: #ffffff;
  padding: 20px;
  width: 1200;
  overflow: hidden;
}

.teacher-area .teacher-area-tit h2 {
  border-left: 3px solid;
  color: #2498F2;
  padding-left: 16px;
  font-weight: 400;
}

.teacher-area .teacher-list ul {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  list-style: none;
}

.teacher-area .teacher-list ul li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.teacher-area .teacher-staus {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #FF9933;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}

.teacher-area .teacher-cont {
  display: inline-block;
  margin-left: 10px;
}

.exam {
  height: 436px;
  padding: 20px;
  background-color: #ffffff;
}

.exam .exam-tit h2 {
  border-left: 3px solid;
  color: #FF9933;
  padding-left: 16px;
  font-weight: 400;
  margin: auto;
}

.exam .exam-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.exam .exam-area .exam-right-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 800px;
}

.exam .exam-area .exam-right-list div {
  width: 360px;
  margin-right: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.exam .exam-area .exam-right-list div h3 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
}

.exam .exam-area .exam-right-list div p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 10px;
  line-height: 20px;
}

.exam .exam-area .exam-left-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 360px;
  margin-top: 20px;
}

.exam .exam-area .exam-left-list div {
  width: 180px;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.exam .exam-area .exam-left-list img {
  width: 139px;
  height: 97px;
}

.exam .exam-area .exam-left-list p {
  font-size: 14px;
  width: 139px;
}

.japanese {
  height: 426px;
  background-color: #ffffff;
}

.japanese .japanese-tit {
  margin-left: 20px;
  border-left: 3px solid;
  color: #2498F2;
  padding-left: 16px;
}

.japanese .japanese-tit h2 {
  font-weight: 400;
}

.japanese .jap-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 10px;
}

.japanese .jap-list li {
  width: 567px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

.japanese .jap-list li img {
  width: 139px;
  height: 97px;
}

.japanese .jap-list li div {
  padding-left: 20px;
}

.japanese .jap-list li div h3 {
  font-size: 15px;
  font-weight: 400;
}

.japanese .jap-list li div p {
  font-size: 12px;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.6);
}

.japanese .jap-list li div a {
  display: inline-block;
  margin-top: 20px;
  width: 80px;
  height: 24px;
  background-color: #FF9933;
  border-radius: 50px;
  color: #ffffff;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.study-abroad {
  height: 400px;
  padding: 20px;
  background-color: #ffffff;
}

.study-abroad .study-cont-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.study-abroad .study-tit {
  border-left: 4px solid #FF9933;
  padding-left: 20px;
}

.study-abroad .study-tit h2 {
  font-weight: 400;
  color: #FF9933;
}

.study-abroad .study-left {
  width: 890px;
}

.study-abroad .study-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.study-abroad .study-left ul li {
  width: 404px;
  list-style: none;
  margin-top: 20px;
  margin-right: 20px;
}

.study-abroad .study-left ul li h5 {
  font-size: 16px;
  font-weight: 400;
}

.study-abroad .study-left ul li p {
  margin-top: 10px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.study-abroad .study-right {
  width: 310px;
}

.study-abroad .study-right .tel-tit {
  width: 290px;
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: auto;
}

.study-abroad .study-right .tel-tit span {
  display: inline-block;
  width: 290px;
  font-size: 18px;
}

.study-abroad .study-right .tel-tit span a {
  float: right;
  font-size: 12px;
  margin: auto;
}

.study-abroad .study-right .contact-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.study-abroad .study-right .contact-area img {
  width: 42px;
  height: 42px;
}

.study-abroad .study-right .contact-area div {
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.study-abroad .study-right .contact-area div h1 {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 3px;
}

.study-abroad .study-right .contact-area div p {
  font-size: 12px;
}

.study-abroad .study-right .contact-href {
  margin-top: 10px;
}

.study-abroad .study-right .contact-href a {
  display: inline-block;
  width: 135px;
  height: 40px;
  background-color: #FF9933;
  border-radius: 10px;
  margin-right: 10px;
}

.study-abroad .study-right .contact-href span {
  height: 40px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  color: #ffffff;
}

.study-abroad .study-right .qrcode {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.study-abroad .study-right .qrcode img {
  width: 135px;
  height: 135px;
  margin-right: 20px;
}

.study-abroad .study-right .qrcode p {
  text-align: center;
  margin-left: -20px;
}

.school {
  height: 280px;
  background-color: #ffffff;
  padding: 20px;
}

.school .school-tit {
  border-left: 4px solid #FF9933;
  padding-left: 20px;
}

.school .school-tit h2 {
  color: #FF9933;
}

.school ul {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.school ul li {
  list-style: none;
  margin-right: 20px;
}
/*# sourceMappingURL=index.css.map */