* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 20px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .back {
  position: absolute;
  left: 20px;
  font-size: 36px;
}

main {
  margin-top: 40px;
}

main .main-tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main-tit h2 {
  font-size: 30px;
  font-weight: 400;
}

main .list-area {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}

main .list-area .pro-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main .list-area .pro-list input {
  width: 30px;
  height: 30px;
}

main .list-area .pro-list img {
  width: 150px;
  height: 150px;
  margin-left: 20px;
}

main .list-area .pro-list .pro-cont {
  margin-left: 20px;
  height: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .list-area .pro-list .pro-cont h2 {
  font-weight: 400;
  font-size: 30px;
}

main .list-area .pro-list .pro-cont .price-tit {
  font-size: 26px;
  color: rgba(0, 0, 0, 0.2);
}

main .list-area .pro-list .pro-cont .price {
  font-size: 36px;
  color: #FB7265;
}

main .list-area .pro-list .pro-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

main .list-area .pro-list .pro-btn span {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

main .list-area .pro-list .pro-btn span:nth-child(1) {
  width: 40px;
  height: 40px;
  background-color: #FB7265;
  color: #fff;
}

main .list-area .pro-list .pro-btn span:nth-child(2) {
  width: 60px;
  height: 40px;
}

main .list-area .pro-list .pro-btn span:nth-child(3) {
  width: 40px;
  height: 40px;
  background-color: #FB7265;
  color: #fff;
}

footer {
  height: 100px;
  width: 100%;
  margin-left: -20px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

footer span:nth-child(1) {
  font-size: 36px;
  color: #FB7265;
}

footer span:nth-child(2) {
  font-size: 36px;
  background-color: #FB7265;
  width: 180px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  color: #fff;
}
/*# sourceMappingURL=shop-car.css.map */