footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    a {
        color: black;
    }

    .ft-icon {
        padding-top: 3.125rem;
    }

    .ft-phone {
        width: 27.9375rem;
        height: 4.25rem;
        text-align: center;
        margin-top: 1.25rem;
        border: 0.0625rem solid rgba(185, 185, 185, 0.4);

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

        .footer-phone-icon {
            width: 2rem;
            height: 2rem;
            background-position: -0.0625rem -18.1875rem;
        }

        .footer-phone-tele {
            width: 22.5rem;
            height: 1.875rem;
            color: $global-blue;
            font-size: 1.375rem;


            display: flex;
            // place-content: center;
            // place-items: center;
            align-items: center;
            justify-content: space-around;

            position: relative;

        }

        // TODO footer tele 
        .footer-phone-tele::before,
        .footer-phone-tele::after {
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            top: 0;
            left: 0;
            background-color: #f3f3f3;

        }

        .footer-phone-tele::before {
            left: -80px;
            top: -5px;
        }

        .footer-phone-tele::after {
            left: 380px;
            top: -5px;
        }
    }

    .ft-content {
        margin-top: 3.125rem;
        padding-bottom: 1.875rem;
        display: flex;

        h5 {

            color: #000000;
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 1.875rem;
            margin-top: 1.875rem;
        }

        .ft-content-left {
            width: 18.75rem;

            p {
                // display: inline-block;
                font-size: 0.75rem;
                line-height: 1.5rem;
                color: #555555;
            }

            .ft-name span {
                background-position: 0 -21.375rem;
            }

            .ft-address span {
                background-position: 0 -23.5rem;
            }

            .ft-contact-tele .ft-tele-area {
                font-size: 0.75rem;
                width: 60px;
                text-align: center;
                color: rgba(0, 0, 0, 0.7);
            }

            .ft-contact-tele span {

                background-position: -0.0625rem -25.1875rem;
            }

            .ft-contact-tele p {
                // border: 1px solid red;
                width: 160px;

            }

            .ft-email span {
                background-position: -0.0625rem -26.625rem;
            }

            .ft-contact-tele,
            .ft-name,
            .ft-address,
            .ft-email {
                display: flex;
                justify-content: start;
                align-items: center;

                p {
                    display: flex;
                    flex-wrap: wrap;
                    text-align: left;
                    // margin: 0 auto;
                }
            }
        }

        .ft-content-nav {
            width: 30rem;
            font-size: 0.75rem;

            a {
                // font-size: 0.75rem;
                line-height: 1.5rem;
                color: #555555;
            }

            a:hover {
                text-decoration: underline;
            }

            .signature {
                margin-top: 0.625rem;
                text-align: center;
            }
        }

        .ft-content-nav-list {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
        }

    }

    .ft-content-right {
        width: 18rem;
        margin-left: 3rem;


        .footer-logo-list {
            line-height: 2.8rem;
            display: flex;
            justify-content: space-around;
        }

        .footer-logo-list a {
            .ft-wx {
                background-position: -3rem -2.5rem;
            }

            .ft-wx:hover {
                background-position: -9.625rem -7.1875rem;
            }

            .ft-wb {
                background-position: -3rem -5.375rem;
            }

            .ft-wb:hover {
                background-position: -9.5rem -9.75rem;
            }

            .ft-rr {
                background-position: -3rem -8.125rem;
            }

            .ft-rr:hover {
                background-position: -9.5rem -12.3125rem;
            }

            .ft-yy {
                background-position: -3rem -10.875rem;
            }

            .ft-yy:hover {
                background-position: -9.625rem -14.875rem;
            }

            .ft-qj {
                background-position: -3rem -13.75rem;
            }

            .ft-qj:hover {
                background-position: -9.5rem -17.5rem;
            }

            .ft-rabbit {
                background-position: -3rem -16.75rem;
            }

            .ft-rabbit:hover {
                background-position: 0 -15.5rem;
            }
        }

        .manifesto {
            font-size: 0.875rem;
            color: $global-blue;
        }
    }

    .ft-bottom-copyright {
        width: 100%;
        border-top: 1px solid #f3f3f3;
        text-align: center;
        padding: 0.625rem;
        font-size: 0.75rem;
        color: #555555;
    }
}