* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #000;
}

header {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

header .nav-station .nav {
  width: 1200px;
  background-color: #fff;
  height: 30px;
}

header .menu-station {
  width: 1200px;
  height: 120px;
  background-color: brown;
}

header .menu-station .menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu-station .menu span {
  min-width: 60px;
  height: 20px;
  background-color: #fff;
}

main {
  width: 100%;
}

main .img-list img {
  width: 100%;
  height: 100%;
}

main .img-cont {
  width: 100%;
  height: 220px;
  background-color: #000;
  margin-top: -10px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .img-cont .img-area {
  width: 1200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

main .img-cont .img-area span:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  background-color: #fff;
}

main .img-cont .img-area span:nth-child(2) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 100%;
  background-color: #fff;
}

main .main-info {
  width: 100%;
  height: 400px;
  background-color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

main .main-info .info-tit {
  width: 100%;
  height: 140px;
  background-color: blueviolet;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-info .info-tit div {
  width: 600px;
  height: 80%;
  background-color: #fff;
}

main .main-info .icon-area {
  width: 100%;
  height: 200px;
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-info .icon-area .icon-list {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main-info .icon-area .icon-list div {
  width: 60px;
  height: 60px;
  background-color: red;
}

main .main-contnet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  background-color: #b43838;
  padding: 20px;
}

main .main-contnet .main-list {
  height: 220px;
  width: 1200px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main-contnet .main-list img {
  width: 360px;
}

main .main-contnet .main-list .list-cont {
  width: 100%;
  margin: 20px;
  background-color: #789679;
}

main .main-contnet .main-list:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-contnet .main-list:nth-child(1) div {
  width: 800px;
  height: 90%;
  background-color: #344343;
}

main .our-adv {
  width: 100%;
  height: 600px;
  background-color: #b8b8b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

main .our-adv .our-cont {
  width: 1200px;
  height: 100%;
  background-color: #fff;
}

main .news-area {
  background-color: orange;
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .news-area .news-cont {
  width: 1200px;
  height: 100%;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .news-area .news-cont .news-left {
  width: 380px;
  background-color: #fff;
}

main .news-area .news-cont .news-right {
  width: 800px;
  background-color: #f0abab;
}

main .main-bottom-icon {
  width: 100%;
  height: 300px;
  background-color: #fff;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main-bottom-icon .bottom-icon-area {
  width: 1200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-bottom-icon .bottom-icon-area div:nth-child(1) {
  height: 100px;
  width: 100%;
  background-color: #589358;
}

main .main-bottom-icon .bottom-icon-area div:nth-child(2) {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .main-bottom-icon .bottom-icon-area div:nth-child(2) span {
  width: 90px;
  height: 90px;
  background-color: #000000;
}

main .case-area {
  width: 100%;
  height: 900px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00b7c4;
}

main .case-area .case {
  width: 1200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .case-area .case .case-tit {
  width: 100%;
  height: 100px;
  background-color: #fff;
}

main .case-area .case .img-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 600px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .case-area .case .img-list div {
  width: 300px;
  height: 200px;
}

main .case-area .case .case-btn-area {
  width: 100%;
  height: 100px;
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .case-area .case .case-btn-area a {
  display: block;
  width: 120px;
  height: 40px;
  border-radius: 50px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  text-decoration: none;
}

main .main-bottom-pro-area {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #960057;
}

main .main-bottom-pro-area .pro-area {
  width: 1200px;
  padding: 20px;
  height: 100%;
}

main .main-bottom-pro-area .pro-area .pro-detail-icon {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

footer {
  width: 100%;
  height: 300px;
  background-color: #f8a8a8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .ft-nav {
  width: 100%;
  background-color: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .ft-nav div:nth-child(1) {
  width: 800px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #570e11;
}

footer .ft-nav div:nth-child(1) span {
  width: 80px;
  height: 20px;
  background-color: #fff;
}

footer .copyright-area {
  width: 1200px;
  height: 100%;
  background-color: #acd1ac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  gap: 10px7;
}

footer .copyright-area div {
  height: 100%;
}

footer .copyright-area div:nth-child(1) {
  width: 400px;
  background-color: #fff;
}

footer .copyright-area div:nth-child(2) {
  width: 800px;
  background-color: #00b7c4;
}

@media screen and (max-width: 75rem) {
  html {
    font-size: 50%;
  }
  header {
    width: 50%;
    height: 100%;
    right: 0;
    padding: 10px;
    gap: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  header .nav-station .nav {
    display: none;
  }
  header .menu-station {
    width: 100%;
    background-color: #fff;
    height: 100%;
  }
  header .menu-station .menu {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .menu-station .menu span {
    width: 100%;
    min-height: 40px;
    background-color: red;
  }
  main .main-contnet .main-list {
    height: 13.75rem;
    width: 100vw;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .main-contnet .main-list img {
    width: 30%;
  }
  main .main-contnet .main-list .list-cont {
    width: 70%;
    background-color: #789679;
  }
  main .main-contnet .main-list:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .main-contnet .main-list:nth-child(1) div {
    height: 90%;
    background-color: #344343;
  }
  main .news-area {
    background-color: orange;
    width: 100%;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .news-area .news-cont {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .news-area .news-cont .news-left {
    width: 100%;
    height: 300px;
    background-color: #fff;
  }
  main .news-area .news-cont .news-right {
    width: 100%;
    height: 300px;
    background-color: #f0abab;
  }
  main .main-bottom-pro-area {
    width: 100%;
    height: 200px;
    background-color: #960057;
  }
  main .main-bottom-pro-area .pro-area {
    width: 100%;
    padding: 20px;
    height: 100%;
  }
  main .main-bottom-pro-area .pro-area .pro-detail-icon {
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  main .main-bottom-icon {
    width: 100%;
    height: 200px;
    background-color: #fff;
    border: 1px solid #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .main-bottom-icon .bottom-icon-area {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .main-bottom-icon .bottom-icon-area div:nth-child(1) {
    height: 100px;
    width: 100%;
    background-color: #589358;
  }
  main .main-bottom-icon .bottom-icon-area div:nth-child(2) {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main .main-bottom-icon .bottom-icon-area div:nth-child(2) span {
    width: 40px;
    height: 40px;
    background-color: #000000;
  }
  main .main-info {
    width: 100%;
    height: 280px;
    background-color: #fbff12;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .main-info .info-tit {
    width: 100%;
    height: 140px;
    background-color: blueviolet;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .main-info .info-tit div {
    width: 100%;
    height: 80%;
    background-color: #fff;
  }
  main .main-info .icon-area {
    margin-top: -20px;
    width: 100%;
    height: 180px;
    background-color: blue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .main-info .icon-area .icon-list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .main-info .icon-area .icon-list div {
    width: 60px;
    height: 60px;
    background-color: red;
  }
  footer .ft-nav {
    width: 100%;
    background-color: yellow;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .ft-nav div:nth-child(1) {
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #570e11;
  }
  footer .ft-nav div:nth-child(1) span {
    width: 80px;
    height: 20px;
    background-color: #fff;
  }
  footer .copyright-area {
    width: 100%;
    height: 100%;
    background-color: #acd1ac;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    gap: 10px7;
  }
  footer .copyright-area div {
    height: 100%;
  }
  footer .copyright-area div:nth-child(1) {
    width: 100%;
    background-color: #fff;
  }
  footer .copyright-area div:nth-child(2) {
    width: 100%;
    background-color: #00b7c4;
  }
}
/*# sourceMappingURL=index.css.map */