.main-num3{
    border: 1px solid #000;
    display: flex;
    width: 1200px;
    margin:5em auto;
    section{
        margin-top: 1rem;
        border-radius: 0% 0% 20% 20%;
        border: 1px solid orange;
        background-color: rgb(2, 2, 90);
        width: 18em;
        height: 18em;
        justify-content: space-around;
        // 平分剩余空间
        flex-grow: 1;
        // section 子项目flex布局
        display: flex;
        flex-direction: column;
        align-items: center;
        // 设置阴影
        box-shadow: 0 0.5em #d6c20e;
        div{
            background-color: white;
            width: 6em;
            height: 6em;
            border-radius: 25%;
            margin-top: 1em;
        }
        p{
            background-color: white;
            width: 80%;
            height: 4em;
            border-radius: 8em;
        }
    }
}