.brands {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;
}
.brands__item {
  background: #eee;
  list-style: none;
}
.brands__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.brands__item img {
  width: 130px;
  height: 75px;
  object-fit: contain;
}
