
    .about-wrap{
        width: 1200px;
        margin:0 auto;
        padding-top:80px;
        box-sizing: border-box;
        padding-bottom: 90px;
    }
    .about-wrap>h1{
        font-size: 36px;
        color:#090909;
        font-weight: 500;
        text-align: center;
    }
    .about-wrap>p{
        width: 30px;
        height: 0;
        border:1px solid #e3141f;
        margin: 15px auto;
    }
    .about-wrap>h4{
        font-size: 22px;
        font-weight: 300;
        color: rgba(9,9,,9,.5);
        text-align: center;
    }
    .purpose-box{
        display: flex;
        margin-top: 60px;
    }
    .purpose-content{
        width: 25%;
        text-align: center;
    }
    .purpose-content img{
        width: 110px;
        height: 110px;
        display: block;
        margin: 0 auto;
    }
    .purpose-title>h2{
        margin-top:20px;
        font-size: 24px;
        line-height: 33px;
        color: #090909;
        font-weight: 500;
    }
    .purpose-title>h3{
        font-size: 20px;
        font-weight: 300;
        color:rgba(9,9,9,.5);
    }
    .purpose-content img:hover+.purpose-title{
        color:#e3141f;
    }
    .purpose-content .purpose-title:hover{
        color:#e3141f;
    }
    .purpose-content h2:hover{
        color:#e3141f;
    }
    .purpose-content h3:hover{
        color:#e3141f;
    }


    .intro-box{
        width: 100%;
        display: flex;
        margin-top: 80px;
    }
    .intro-img{
        width: 60%;
    }
    .intro-img>div{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .intro-img>img{
        width: 100%;
        height:390px;
        object-fit: cover;
    }
    .intro-img span{
        display: inline-block;
        position: absolute;
        width: 42px;
        height: 42px;
        background-color: white;
        bottom: 0;
        right:0;
        text-align: center;
        line-height: 42px;
        box-sizing: border-box;
        cursor: pointer;
    }
    .intro-img .icon-zuojiantou{
        right: 42px;
        bottom:0;
    }
    .intro-img .iconfont{
        font-size: 24px;
    }
    .iconfont:hover{
        background-color: #e3141f;
        color: white;
    }
    
    .intro-text{
        margin-left: 40px;
        flex-grow: 1;
    }
    .intro-text>h2,.learn-title>h2{
        font-size: 26px;
        font-weight: 500;
        line-height: 26px;
    }
    .intro-text>h2{
        padding-top: 0;
    }
    .learn-title>h2{
        margin-top:20px;
    }
    .intro-text>span,.learn-title>span{
        display: block;
        width: 100%;
        height: 0;
        border: 1px solid #e3141f;
    }
    .intro-text>span{
        margin: 20px 0;
    }
    .intro-text p{
        opacity: .5;
        line-height: 23px;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 14;
        -webkit-box-orient: vertical;  
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
    .learn-box{
        display: flex;
        margin-top:80px;
    }
    .learn-title{
        width: 300px;
        margin-right: 60px;
        flex-shrink: 0;
    }
    .learn-title>h3{
        font-size: 20px;
        font-weight: 300;
    }
    .learn-text>p{
        line-height: 23px;
        margin-top: -3px;
    }
@media screen and (max-width:1200px){
    .about-wrap{
        width: 100%;
        
    }
    .intro-img>img{
        width: 100%;
        min-width: 574px;
        height:390px;
        object-fit: cover;
    }
}
@media screen and (max-width:992px){
    
    .purpose-box{
        margin-top: 30px;
    }
    .intro-box{
        margin-top: 60px;
        width: 100%;
        flex-direction: column;
    }
    .intro-box>div{
        width: 100%;
        box-sizing: border-box;
        padding:0 10px;
    }
    .intro-img img{
       
        width: 100%;
        object-fit: cover;
    }
    .intro-text{
        margin:0;
        margin-top:20px;
    }
    .learn-box{
        flex-direction: column;
    }
    .learn-box>div{
        width: 100%;
        box-sizing: border-box;
        padding:0 10px;
    }
    .learn-text>p{
        padding-top:35px ;
    }
}
@media screen and (max-width:769px){
    .about-wrap{
        padding-top: 60px;
    }
    .about-wrap>h1{
        text-align: left;
        text-indent: 20px;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
        font-size: 24px;
    }
    .about-wrap>p{
        margin-left:20px ;
        margin-top:-50px;
    }
    .about-wrap>h4{
        text-align: left;
        text-indent: 20px;
        font-size: 18px;
        font-weight: 500;
        margin-top:50px;
    }
    .purpose-title>h2{
        font-size: 18px;
    }
    .purpose-title>h3{
        font-size: 18px;
    }
}
@media screen and (max-width:767px){
    .purpose-box{
        flex-wrap: wrap;
    }
    .purpose-content{
        width: 50%;
    }
}