// Global date

$birdColor: #11e7d7;
$birdColor2: #31bfae;
$birdColor3: #01c7be;
$feeColor: #f8c14d;
$beakColor: #f7d35d;
$beakColor2: #eb9f2d;
$beakColor3: #01c7be;

// storyboard timeline

$timeline: (
  "begin": 0s,
  "eye-p0-1": 0.4s,
  "eye-p1-1": 0.4s,
  "eye-p2-1": 0.1s,
  "eye-p3-1": 0.4s,
  "eye-p4-1": 1.8s,
  "eye-p5-1": 1s,
  "end": 0.4s,
);

$totaltime: 0;