/* 
! all about global public css 
! You can extract more public data here
 */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  width: 100%;
  min-width: 1320px;
  height: 850px;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  position: relative;
}

.nav-box {
  width: 100%;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-box-wrap {
  width: 1320px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  margin-top: 28px;
}

.navigation {
  float: right;
}

li.now {
  border-bottom: 2px #201109 solid;
}

.navigation ul li {
  float: left;
  line-height: 120px;
}

.navigation ul li:not(:last-child) {
  margin-right: 75px;
}

.navigation ul li a {
  text-decoration: none;
  color: #201109;
  font-size: 18px;
}

.navigation ul li:hover {
  border-bottom: 2px #201109 solid;
}

.navigation ul li:hover a {
  font-weight: bold;
}

.title-box {
  width: 1320px;
  height: 730px;
  position: relative;
  margin: 0 auto;
}

.title-box img {
  position: absolute;
  top: 180px;
  right: 360px;
}

.title-box .title {
  position: absolute;
  width: 420px;
  right: 0;
  top: 200px;
}

.title-box .title p:nth-child(3) {
  position: relative;
  top: 305px;
  text-align: right;
}

.title-box .title p {
  color: #fff;
}

.title-box .title p:nth-child(1) {
  font-size: 72px;
}

.title-box .title p:nth-child(2),
.title-box .title p:nth-child(3) {
  font-size: 32px;
}

footer {
  width: 100%;
  height: 350px;
  background-color: #454545;
}

.footer-wrap {
  width: 1320px;
  height: 100%;
  margin: 0 auto;
  /* border:1px red solid; */
}

.footer-top {
  height: 236px;
}

.footer-left,
.footer-right {
  width: 50%;
  color: #fff;
  float: left;
  position: relative;
}

.footer-left div {
  margin-top: 110px;
  margin-left: 58px;
}

.footer-left div a {
  color: white;
}

.contactinfo {
  display: inline-block;
  margin-top: 70px;
}

.footer-right ul {
  float: right;
  position: relative;
  left: 110px;
}

.footer-right ul li {
  font-size: 16px;
  width: 50%;
  float: left;
}

.footer-right ul li p {
  display: inline-block;
  position: relative;
  top: -2px;
  left: 9px;
  max-height: 40px;
  overflow: hidden;
}

.footer-left p:nth-child(1) {
  font-size: 24px;
}

.footer-left p:nth-child(2) {
  font-size: 22px;
}

.footer-right p:nth-child(1) {
  font-size: 24px;
  margin-bottom: 38px;
  margin-left: 110px;
}

.footer-bottom {
  width: 100%;
  height: 114px;
  color: #d1cfcf;
  line-height: 114px;
  text-align: center;
}

.line {
  width: 2px;
  height: 100%;
  background-color: #d1cfcf;
  position: absolute;
  right: 0;
  top: -76px;
  margin-top: -50%;
}

section {
  width: 100%;
}

header {
  background: url(../images/index/banner.jpg);
}

article {
  width: 1320px;
  margin: 0 auto;
  color: #252525;
  margin-top: 120px;
}

article h1 {
  font-size: 38px;
  margin-bottom: 68px;
  cursor: pointer;
  position: relative;
  color: #252525;
}

h1 sup {
  font-size: 24px;
}

h1 span {
  font-size: 26px;
  margin-left: 90px;
}

h1::after {
  content: "";
  width: 135px;
  height: 1px;
  background: #343434;
  border-bottom: 1px solid #939393;
  position: absolute;
  bottom: -10px;
  left: 44px;
  visibility: hidden;
}

h1:hover::after {
  visibility: visible;
}

article.about p {
  font-size: 16.8px;
  line-height: 35px;
  margin-bottom: 50px;
}

article.about p span {
  color: #8fc0de;
  cursor: pointer;
}

section img {
  display: block;
  width: 1320px;
  margin: 0 auto;
}

article.news ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
  height: 180px;
  position: relative;
}

article.news ul::after {
  content: "";
  width: 1px;
  height: 182px;
  background: #333333;
  position: absolute;
  top: 0;
  left: 50%;
}

article.news ul li {
  width: 625px;
  height: 25%;
}

article.news li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article.news li a:hover > p:nth-child(1) {
  font-size: 17px;
}

li.left {
  margin-right: 120px;
}

article.news ul li p {
  color: black;
  font-size: 16.5px;
  margin-right: 40px;
}

article.news button {
  display: block;
  width: 240px;
  height: 48px;
  background: #393438;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 60px;
  cursor: pointer;
}

article.news button:hover {
  background: white;
  border: 1px solid #393438;
  color: #393438;
}

.case {
  height: 640px;
  background: url(../images/index/curtain-bg.jpg);
  background-size: 100%;
  margin-bottom: 100px;
}

.case article {
  padding-top: 70px;
}

.case article h1 {
  color: white;
}

.case article h1::after {
  background: white;
}

.case article ul {
  width: 100%;
  height: 305px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.case article ul li {
  width: 313px;
  height: 305px;
  position: relative;
}

.case article ul li:not(:last-child) {
  margin-right: 20px;
}

.case li img {
  width: 313px;
}

.case li .information {
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.case li:hover .information {
  background: none;
}

.case button {
  display: block;
  width: 240px;
  height: 48px;
  background: none;
  border: 1px solid white;
  outline: none;
  color: white;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 50px;
  cursor: pointer;
}

.case button:hover {
  border: none;
  background: white;
  color: #393438;
}
/*# sourceMappingURL=index.css.map */