@import "../header/_header.css";
@import "../nav/_nav.css";
@import "../config/_config.css";
@import"../footer/_footer.css";

main .imgt img{
    width: 100%;
    height: 100%;
 
}
main .home{
    width: 100%;
    margin-top: 20px;
}
main .home h6{
    font-size: 1.5625rem;
    text-align: center;
}
.home .en{
    width: 21.25rem;
    height: 2.625rem;
    margin: 1rem auto;
    font-size: 0.9375rem;
    color: #d3d3d3;
    text-align: center;
    line-height: 2.625rem;
    border: 0.0625rem solid #d3d3d3;
    border-top-left-radius: 1.5625rem;
    border-bottom-right-radius: 1.5625rem;
}
.home .en .box-g{
    width: 7.4375rem;
    height: 0;
    border: 0.125rem solid rgb(20, 146, 104);
    margin: 0 auto;
    margin-top: -0.25rem;
    background-color: #149268;
}
.news {
    margin: 40px 20px;
}

.news li {
    display: flex;
    margin-top: 20px;
    border-bottom: 1px solid #999;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.news-img {
    width: 198px;
}
.news-img img{
    width: 100%;
    height: 100%;
}
.news-text {
    height: 140px;
    width:496px ;
    /* background: #999; */
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.news-sh{
    font-size:28px;
    color: #333333;
}
.news-read {
    font-size:15px ;
    color: #999999;
}
main .btn{
    width: 100%;
    padding: 0 20px;
    padding-bottom: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    
}
main .btn .top{
    /* float: left; */
    width: 172px;
    height: 60px;
    background-color: #14926a;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 26px;
    text-align: center;
    line-height: 60px;
}
main .btn .top a{
    color: #fff;
}
main .btn .bottom{
    /* float: right; */
    width: 172px;
    height: 60px;
    background-color: #14926a;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 26px;
    text-align: center;
    line-height: 60px;
}
main .btn .bottom a{
    color: #fff;
}