*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clock-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #091921;
}
.clock{
    /* 350px */
    width: 21.875rem;
    height: 21.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #091921 url(clock.png);
    background-size: cover;
}