* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #333;
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    display: block;
}

header {
    width: 100%;
    height: 35px;
    background-color: #272525;
    position: relative;
    z-index: 502;
}

.wrap {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

header>.wrap,
.pc-nav>.wrap {
    display: flex;
    justify-content: space-between;
}

.header-left>a,
.header-right>a {
    color: rgba(255, 255, 255, 1);
    font-size: 0.875rem;
    line-height: 35px;
}

.header-left>a {
    font-family: Microsoft YaHei;
    padding-left: 5px;
}

.header-left>span::before {
    content: '|';
    color: #fff;
    padding: 0 20px;
}

.header-right>a {
    padding: 0 10px;
}

.header-left>a:hover,
.header-right>a:hover {
    color: rgba(255, 255, 255, .3);
}

/* ==================pc端导航=================== */
.pc-nav {
    width: 100%;
    height: 60px;
    background-color: #fff;
    /* position: fixed; */

}

.pc-nav-left,
.pc-nav-right {
    z-index: 501;
}

.pc-nav ul li {
    float: left;
}

.pc-nav ul li a {
    display: inline-block;
    padding: 0 35px;
    line-height: 60px;
    color: #090909;
}

.pc-nav .pc-nav-index a {
    background-color: #e3141f;
    color: #fff;
}

.pc-nav ul li:hover a {
    background-color: #e3141f;
    color: #fff;
    transition: color .2s, background-color .2s;


}

.index-top-logobar {
    width: 100%;
    height: 100%;
    background: url(../images/index_nav_mb.png) no-repeat center center;
    position: absolute;
    bottom: -25px;
    left: 0;
    z-index: 500;
    background-size: 100%;
    transform: scaleX(0.95);
}

.pc-nav .index-top-logo {
    width: 198px;
    height: 226px;
    background-color: #e3141f;
    text-align: center;
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin-left: -99px;
    border-radius: 0 0 50% 50%;
    z-index: 500;
}

.index-top-logo a {
    display: inline-block;
    position: relative;
    top: 140px;
}


.index-top-logo>a>img {
    display: block;
    width: 100%;

}

/* ============移动端导航======================= */
.mb-nav {
    height: 85px;
    width: 100%;
    text-align: center;
    display: none;
    background-color: #fff;
    position: relative;
    z-index: 502;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.28);
}

.mb-nav-left {
    width: 100%;
    position: absolute;
    z-index: 501;
    top: 0;
    left: 0;
}

.mb-nav-left img {
    width: 100%;
}

.mb-nav-logobg {
    width: 300px;
    height: 250px;
    background-color: #e3141f;
    border-radius: 0% 0% 80% 0%;
    position: absolute;
    top: -90px;
    left: -95px;
    z-index: 502;
}

.mb-nav-logo {
    position: absolute;
    top: 30%;
    left: 15px;
    z-index: 502;
}

.mb-nav-bar {
    position: absolute;
    z-index: 502;
    /* top: 50%; */
    top: 32px;
    right: 35px;
    font-size: 22px;
    line-height: 22px;
    /* margin-top: -13px; */
    color: #232323;
}

.mb-nav-bar:hover {
    color: #E3141F;
}

.mb-nav-list {
    display: none;
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0;
    right: 0;
    background-color: rgba(9, 9, 9, 0.8);
    z-index: 500;
    padding-top: 150px;
    padding: 150px 30px 0;
    width: 100%;
}

.mb-nav-list>li>a {
    display: block;
    font-size: 30px;
    line-height: 28px;
    color: #fff;
    padding: 37px 0;
}

.mb-nav-list>li>a:hover {
    color: #e3141f;
}

.mb-nav-list a.icon-forword::before {
    content: '\e609';
    float: right;
}

.mb-navlist-link {
    display: flex;
    padding-top: 110px;
}

.mb-nav-list .mb-navlist-link a {
    padding: 0;
}

.mb-navlist-link>i::before {
    content: '';
    width: 1px;
    height: 100%;
    display: inline-block;
    background-color: #fff;
    margin: 0 25px;
}

.nav-navlist-shorcut {
    display: flex;
}

li.nav-navlist-shorcut>a:not(:first-child) {
    margin-left: 60px;
}


/* =============================================== */
.web-banner {
    width: 100%;
    overflow: hidden;
}

.web-banner>a>img {
    width: 100%;
    vertical-align: middle;

}

@media all and (max-width:1400px) {
    .wrap {
        width: 1200px;
    }
}

@media all and (max-width:1200px) {
    .wrap {
        width: 100%;
    }

}

@media only screen and (max-width:1000px) {

    .pc-nav .pc-nav-left a,
    .pc-nav .pc-nav-right a {
        font-size: 14px;
        padding: 0 22px;
    }

    /* .pc-nav .index-top-logo {
        width: 160px;
        height: 226px;
        margin-left: -82px;
    } */
}

@media only screen and (max-width:769px) {
    header {
        display: none;
    }

    .pc-nav {
        display: none;
    }

    .mb-nav {
        display: block;
    }
}

@media only screen and (max-width:500px) {
    .mb-nav-list>li>a {
        padding: 14px 0;
        font-size: 14px;
        line-height: 14px;
    }
    .mb-navlist-link {
        padding-top: 60px;
    }
    .mb-nav-logobg {
        top: -82px;
        left: -60px;
        width: 225px;
        height: 225px;
    }
    .mb-nav-left {
        top: -15px;
    }
}