* {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  float: left;
}
.body {
  width: 1312px;
  height: 388px;
  margin: 0 auto;
  /* border: 2px solid #000000; */
}
/* 阴影设置 */
/* .body-1 {
  width: 1312;
  height: 360px;
  margin: 0 auto;
  border: 2px #1c1c1c;
  box-shadow: 10px 10px 10px #000000;
} */
.wrap{
    display: flex;
    box-shadow: 0 -1px 10px 0 #f4f4f4,0 1px 10px 0 #f4f4f4;
}
.left {

}
.left img {
  float: right;
  margin-top: 10px;
  display: block;
  width: 100%;
}
.right {
  
  /* border: 2px solid #000000; */
  float: right;
}
.right-1 {
  width: 541px;
  height: 277px;
  /* border: 2px solid #000000; */
  margin: 14px 0 0 52px;
}
.right-1 .time {
  width: 176px;
  height: 23px;
  /* border: 2px solid #000000; */
  margin-top: 20px;
  margin-bottom: 29px;
}
.time ul li {
  font-size: 12px;
  background-color: #c71c60;
  color: #fef9fb;
  margin-left: 5px;
  border-radius: 3px;
  box-shadow: 3px 0 5px #d3d0d0;
  text-align: center;
}
.time .shen {
  width: 45px;
  height: 21px;
}
.time .h {
  width: 40px;
  height: 21px;
}
.time .m {
  width: 34px;
  height: 21px;
}
.time .s {
  width: 30px;
  height: 21px;
}
.p {
  width: 530px;
  height: 48px;
  font-size: 16px;
  color: #949494;
  margin-bottom: 50px;
}
.jiemian {
  width: 340px;
  height: 14px;
  margin-bottom: 58px;
}
.jiemian .hongk {
  font-size: 14px;
  color: #ee9c23;
}
.jiemian .jintou {
  font-size: 12px;
  color: #1c1c1c;
}
.yishou {
  font-size: 12px;
  color: #999999;
}
.yishou span {
  margin-left: 2px;
}
.yishou button {
  width: 92px;
  height: 32px;
  font-size: 15px;
  color: #ffffff;
  background-color: #fa3778;
  border: none;
  border-radius: 2px;
  float: right;
}
