.nav-x {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    /* opacity: .5; */
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    z-index: 999;
    height: 100vh;
    /* position: fixed;
    top: 0; */
}

.nav-x .imgr {
    height: 2.5rem;
    margin-bottom: 4.75rem;
    margin-right: 2.9375rem;
}

.nav-x .imgr img {

    width: 2.5rem;
    height: 2.5rem;
    float: right;
    margin-top: 1.3125rem;

}

.nav-x ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-content: space-between; */
    gap: 4rem;
}

.nav-x ul li {
    width: 17rem;
    height: 3.5rem;
    margin: 0 auto;
    font-size: 1.5625rem;
    /* text-align:center; */
    padding-left: 2.625rem;
    line-height: 3.5rem;
    /* background-color: #fff; */
    border-top-left-radius: 1.5625rem;
    border-bottom-right-radius: 1.5625rem;

}
.nav-x ul .s{
    background-color: #fff;
}
.nav-x ul .s a{
    color: #12926a;
} 
.nav-x ul .l{
    background-color: #fff;
}
.nav-x ul .l a{
    color: #12926a;
} 
.nav-x ul .a{
    background-color: #fff;
}
.nav-x ul .a a{
    color: #12926a;
} 
.nav-x ul .j{
    background-color: #fff;
}
.nav-x ul .j a{
    color: #12926a;
} 
.nav-x ul .y{
    background-color: #fff;
}
.nav-x ul .y a{
    color: #12926a;
} 
.nav-x ul .g{
    background-color: #fff;
}
.nav-x ul .g a{
    color: #12926a;
} 
.nav-x ul .z{
    background-color: #fff;
}
.nav-x ul .z a{
    color: #12926a;
} 







.nav-x li a{
    color: #fff;
}
.nav-x li:hover{
    background-color: #fff;
}
.nav-x li:hover a{
    color: #12926a;
}



