footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $global-white-f3;
  border-top: 1px solid $global-border-white-211;
  border-bottom: 1px solid $global-border-white-211;

  .footer-logo {
    padding-top: 50px;
  }
  .footer-phone {
    width: 27.9375rem;
    height: 4.25rem;
    text-align: center;
    margin-top: 1.25rem;
    border: 0.0625rem solid rgba(185, 185, 185, 0.4);

    .footer-phone-tele {
      width: 360px;
      height: 30px;
      margin-top: -14px;
      margin-left: 5rem;
      color: $global-blue;
      font-size: 1.375rem;
      overflow: hidden;
    }
    .footer-phone-icon {
      width: 2rem;
      height: 2rem;
      background-position: -0.0625rem -18.1875rem;
      position: relative;
      top: 1.25rem;
      margin-left: -21.25rem;
    }
  }

  .introduce {
    width: 75rem;
    margin: 0 auto;
    margin-top: 3.125rem;
    padding-bottom: 1.875rem;

    h5 {
      color: black;
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 1.875rem;
      margin-top: 1.875rem;
    }

    .footer-contact {
      float: left;
      width: 18.75rem;
      overflow: hidden;

      p {
        // margin: 0;
        display: inline-block;
        font-size: 0.75rem;
        line-height: 1.5rem;
        color: $global-gray-55;
      }
      .footer-name span {
        width: 1.1875rem;
        height: 1rem;
        background-position: 0 -21.375rem;
        margin-top: 1.875rem;
      }
      .footer-address span {
        width: 1.1875rem;
        height: 1rem;
        background-position: 0 -23.5rem;
        vertical-align: middle;
      }
      .footer-contact-tele {
        width: 18.75rem;
        overflow: hidden;
        p + p {
          margin-left: 1.5rem;
        }
        // p:not(:first-child){

        // }
      }

      .footer-contact-tele span {
        width: 1.1875rem;
        height: 1rem;
        background-position: -1px -403px;
        vertical-align: middle;
      }
      .footer-email span {
        width: 1.1875rem;
        height: 1rem;
        background-position: -1px -426px;
        vertical-align: middle;
      }
    }
    .footer-nav {
      float: left;
      width: 27.9375rem;
      text-align: left;
      margin-left: 7.5rem;
      a {
        font-size: 0.75rem;
        line-height: 1.5rem;
        color: $global-gray-55;
      }
      a:hover {
        text-decoration: underline;
      }

      .signature {
        //   float: left;
        margin-top: 0.625rem;
      }
    }
    .footer-entry {
      float: left;
      width: 14.625rem;
      .footer-logo-list {
        line-height: 2.8125rem;

        a {
          margin-right: 0.3125rem;

          //   Icon

          .fl-wx {
            width: 1.75rem;
            height: 1.625rem;
            background-position: -3rem -40px;
          }
          .fl-wx:hover {
            background-position: -9.625rem -7.1875rem;
          }
          .fl-wb {
            width: 1.75rem;
            height: 1.625rem;
            background-position: -3rem -86px;
          }
          .fl-wb:hover {
            background-position: -9.5rem -9.75rem;
          }
          .fl-rr {
            width: 1.75rem;
            height: 1.625rem;
            background-position: -3rem -8.125rem;
          }
          .fl-rr:hover {
            background-position: -9.5rem -12.3125rem;
          }

          .fl-yy {
            width: 1.75rem;
            height: 1.625rem;
            background-position: -3rem -10.875rem;
          }
          .fl-yy:hover {
            background-position: -9.5625rem -14.875rem;
          }
          .fl-qj {
            width: 1.75rem;
            height: 1.625rem;
            background-position: -3rem -13.75rem;
          }
          .fl-qj:hover {
            background-position: -9.5rem -17.5rem;
          }
          .fl-rabbit {
            width: 2rem;
            height: 1.625rem;
            background-position: -3rem -16.75rem;
          }
          .fl-rabbit:hover {
            background-position: 0 -15.5rem;
          }
        }
      }
    }
    .manifesto {
      font-size: 0.875rem;
      color: $global-blue;
    }
  }

  .copyright {
    background-color: $global-white-f3;
    text-align: center;
    padding: 0.625rem 0;
    font-size: 0.75rem;
    color: $global-gray-55;
  }
}
