.nav-top {
  height: 5.9375rem;
  background-color: $nav-top-gray;
  overflow: hidden;
  position: relative;

  .top-logo {
    float: left;
    position: relative;
    width: 369px;
    height: 95px;
    background: #f1f1f1;
    text-align: center;
    border-bottom-right-radius: 50px;
  }
  .top-logo::after {
    position: absolute;
    left: -15px;
    top: -20px;
    display: block;
    content: "";
    width: 31px;
    height: 31px;
    background: #14916a;
    transform: rotate(45deg);
  }
  .top-logo img {
    padding-top: 20px;
  }

  .nav-list {
    float: left;
    margin-left: 260px;
    padding-top: 40px;
    width: 700px;
  }
  .nav-list li {
    float: left;
    height: 36px;
    margin: auto 5px;
  }
  .nav-list a {
    overflow: hidden;
    position: relative;
    color: #fff;
    padding: 8px 15px;
    font-size: 16px;
    height: 35px;
  }
  .nav-list a:hover {
    background: #fff;
    color: #000000;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .nav-list a:hover::after {
    overflow: hidden;
    display: inline-block;
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-bottom: 10px solid rgba(20, 145, 106, 0.9);
    bottom: 27px;
    right: -10px;
    transform: rotate(45deg);
  }
  .icon-list {
    position: absolute;
    // margin-left: 20px;
    top: -5px;
    right: 18px;
  }
}
