@import url("https://fonts.googleapis.com/css?family=Gochi+Hand");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100w;
  height: 100vh;
  margin: 0;
  background-color: #292929;
  font-family: "Gochi Hand", sans-serif;
  font-size: 100%;
  letter-spacing: 0.1rem;
  color: #fff;
  padding: 2vh;

  // ! core code
  display: flex;
  justify-content: space-between;
}

body > *:not(script) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // ! core code
  // place-content:  center; can dao this

  background-color: #606060;
  border-radius: 3px;
  box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.25);
}

body > *:not(main) {
  min-width: 20vw;
}

body > main {
  flex: 1;
  margin: 0 2vh;
}
