@import url("https://fonts.googleapis.com/css?family=Gochi+Hand");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #292929;

  // Font setting
  font-family: "Gochi Hand", sans-serif;
  font-size: 100%;
  color: white;
  letter-spacing: 0.1rem;

  // Layout settings

  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #2196f3;
  min-height: 15vh;
}

main {
  background-color: #f4f4f4;
  color: #444;
  flex: 1;
  min-height: 0;

  display: flex;
  align-items: stretch;
  width: 100%;
}

footer {
  min-height: 20vh;
  background-color: #222;
  margin-top: auto;
}

nav {
  background-color: #ff9800;
  color: #fff;
  width: 220px;
  order: -1;
}

// ! core 通过order 调整顺序
// ! order的默认值为0，值越大越排在后面！
article {
  background-color: #795548;
  color: #fff;
  flex: 1;
}

aside {
  background-color: #607d8b;
  color: #fff;
  width: 220px;
}
main h2 {
  text-align: center;
  margin: 2vh 0;
}

@media screen and (max-width: 800px) {
  main {
    flex-direction: column;
  }

  nav,
  aside {
    width: 100%;
  }
}
