@import "_global-config";
@import "_header";
@import "_footer";


.navigation ul li:nth-child(2) {
    border-bottom: 2px #201109 solid;
}

.middle-area {
    padding-bottom: 125px;
}

.middle-area .wrap {
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

.middle-area .wrap .title {
    padding: 50px 0px 48px;
    text-align: center;
}

.middle-area .wrap .title-ch {
    font-size: 32px;
    font-weight: bold;
    line-height: 70px;
    letter-spacing: 6px;
    position: relative;
}

.middle-area .wrap .title-ch .letter-A {
    font-size: 120px;
    color: rgba(37, 37, 37, .06);
    font-weight: normal;
    position: absolute;
    top: 8px;
    left: 50%;
    margin-left: -47px;
}

.middle-area .wrap .title-en {
    color: #727171;
}

.middle-area .wrap .content p {
    margin-bottom: 40px;
    line-height: 32px;
    letter-spacing: 0.7px;
    text-align: justify;
}

.middle-area .wrap .content p:hover {
    color: #8fc0de;
}

.middle-area .wrap .content {
    color: #252525;
}

.middle-area .wrap .content-image {
    height: 700px;
    overflow: hidden;
}

.middle-area .wrap .content-image img {
    display: block;
    transition: all .2s linear;
}

.middle-area .wrap .content-image img:hover {
    transform: scale(1.1);
}