@import "_global-config";
@import "_header";
@import "_footer";

.navigation ul li:nth-child(5) {
    border-bottom: 2px #201109 solid;
}

.middle-area .wrap {
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

.middle-area .title {
    padding: 50px 0 0px;
    font-size: 24px;
}

.middle-area .title a {
    width: 300px;
    line-height: 60px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    color: #727171;
    margin-right: -8px;
    position: relative;

}

.middle-area .title>a:nth-child(1) {
    border-left: 1px solid #c0c5ce;
}

.middle-area .title>a:last-child {
    border-right: 1px solid #c0c5ce;
}

.middle-area .title a:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 0;
    border-left: 1px solid #c0c5ce;
    border-top: 28px solid #c0c5ce;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -14px;
}

.middle-area .title a:hover {
    color: #fff;
    background-color: #242424;
    font-weight: bold;
}

.middle-area .title a:hover::after {
    display: none;
}

.middle-area .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.middle-area .images>div {
    width: 315px;
    margin-top: 48px;
    color: #252525;
}

.middle-area .images .images-box {
    overflow: hidden;
}

.middle-area .images img {
    display: block;
    transition: all .2s linear;
}

.middle-area .images>div a {
    color: #252525;
}

.middle-area .images img:hover {
    transform: scale(1.1);
}

.middle-area .images>div .title-bottom {
    margin-top: 6px;
}

.middle-area .images>div .time {
    margin-top: 3px;
}

.middle-area .images>div .title-bottom .title-bottom-a {
    font-size: 18px;
}

.middle-area .images>div a:hover {
    color: #8fc0de;
}

.middle-area .wrap .paging {
    height: 186px;
    line-height: 186px;
    text-align: center;
}

.middle-area .wrap .paging button {
    height: 30px;
    color: #666666;
    font-size: 16px;
    border: 1px solid #d6d6d6;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    margin: 0 4px;
    line-height: 30px;
}

.middle-area .wrap .paging button.next-page:hover {
    color: white;
    background: #000000;
}

.middle-area .wrap .paging a {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 0 2px;
    box-sizing: border-box;
    color: #666666;
    font-size: 16px;
    border: 1px solid #d6d6d6;
    line-height: 30px;
}

.middle-area .wrap .paging a:visited {
    background-color: #252525;
}

.middle-area .wrap .paging a:hover {
    color: white;
    background: black;
}

.middle-area .wrap .paging a:active {
    background-color: #252525;
    color: #fff;
}

.middle-area .wrap .paging a:nth-of-type(1) {
    background-color: #252525;
    color: #fff;
}

.middle-area .wrap .paging .last-page,
.middle-area .wrap .paging .next-page {
    width: 78px;
}

.middle-area .wrap .paging .last-page {
    background-color: #efefef;
    color: #c9c9c9;
}