.news-wrap{
    width: 1200px;
    box-sizing: border-box;
    margin:0 auto;
    padding-top:130px;
    padding-bottom: 80px;
}
.news-wrap>h1{
    font-size: 36px;
    color:#090909;
    font-weight: 500;
    text-align: center;
}
.news-wrap>p{
    width: 30px;
    height: 0;
    border:1px solid #e3141f;
    margin: 12px auto;
}
.news-wrap>h4{
    font-size: 22px;
    font-weight: 300;
    color: rgba(9,9,,9,.5);
    text-align: center;
}
.news-wrap>form{
    margin-top: 60px;
}
.news-wrap select{
    width:100px;
    height: 32px;
    line-height: 32px;
    margin-left: 60px;
    border-color: white;
    color: #e3141f;
}
.news-wrap select:focus{
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    outline: none;
    border-radius: 5px;
}
.news-wrap .select-right{
    margin-left: 20px;
}
.news-box{
    margin-top: 30px;
    width: 100%;
}
.news-box>li{
    display: flex;
    margin-bottom: 55px;
}
.left-box{
    width: 40%;
   flex-grow: 2;
}
.tilte-img{
    display: block;
    width: 100%;
}

.left-box img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-box{
    width: 60%;
    padding-left: 45px;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 3px solid #e3141f;
}

.right-top-box{
    margin-top:35px;
    margin-bottom: 10px;
}
.right-top-box a{
    color: #000;
}
.right-top-box a:hover{
    color: #e3141f;
}
.right-top-box h2{
    display: -webkit-box;
    font-weight: 500;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.right-top-box p{
    margin-top:10px;
    line-height: 23px;
    margin-bottom: 10px;
    opacity: .7;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.right-bottom-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
   
}
.right-bottom-box a{
    color: #e3141f;
}
.bottom-nav{
    width: 470px;
    margin: 70px auto 0;
    display: flex;
    justify-content: space-between;
}
.bottom-nav-list{
    display: flex;
    width: 340px;
    align-items: center;
    justify-content: space-around;
}
.bottom-nav-list li{
    width: 30px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.bottom-nav .iconfont{
    cursor: pointer;
    font-size: 26px;
}
.bottom-nav .iconfont:hover{
    color:white;
}
.bottom-nav>span:hover{
    background-color: #e3141f ;
}
.bottom-nav-list>li:hover{
    background-color:#e3141f ;
    color: white;
}
@media screen and (max-width:1200px){
    .news-wrap{
        width: 100%;
    }
}
@media screen and (max-width:769px){
    .news-wrap{
        padding-top: 60px;
    }
    .news-wrap>h1{
        text-align: left;
        text-indent: 20px;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
        font-size: 24px;
    }
    .news-wrap>p{
        margin-left:20px ;
        margin-top:-50px;
    }
    .news-wrap>h4{
        text-align: left;
        text-indent: 20px;
        font-size: 18px;
        font-weight: 500;
        margin-top:50px;
    }
    .news-wrap form{
        margin-left: 20px;
        margin-top:35px;
    }
    .news-box>li{
        flex-direction: column;
    }
    .left-box{
        width: 100%;
    }
    .right-box{
        padding: 10px 20px;
        padding-bottom:0 ;
    }
    .right-top-box h2{
        font-size: 18px;
    }
    .right-top-box>p{
        padding: 10px 10px 0 10px;
        font-size: 12px;
        line-height: 23px;
    }
    .right-bottom-box{
        font-size: 12px;
    }
    .bottom-nav-list{
        font-size: 12px;
    }

}
@media screen and (max-width:500px){
    .bottom-nav{
        width: 270px;
        margin-top:0px;
    }
    .bottom-nav-list{
        width: 180px;
    }
    .bottom-nav .iconfont{
        font-size: 12px;
    }
    .bottom-nav-list li{
        font-size: 12px;
    }
    .bottom-nav>span{
        display: inline-block;
        line-height: 30px;
    }
}