header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 37.5rem;
    background-image: url(../images/about/bg.jpg);
    background-position: -1.25rem -1.25rem;

    nav {

        display: flex;
        justify-content: center;
        align-self: center;
        background-color: rgba(0, 0, 0, 0.5);
        height: 12vh;
        width: 100%;
        // fixed nav 
        position: fixed;
        top: 0;
        z-index: 9999;

        .nav-logo {
            display: inline-block;
            flex: 1;

        }

        .nav-logo .nav-logo-area {
            display: flex;
            justify-content: center;
            background-color: #fff;
            height: 100%;
            border-bottom-right-radius: 2.5rem;
            margin-right: 5vw;

            img {
                // ! Fix image stretching and distortion
                object-fit: none;
            }
        }

        .nav-logo::before {
            position: absolute;
            top: -1rem;
            left: -1rem;
            content: "";
            width: 2rem;
            height: 2rem;
            transform: rotate(45deg);
            background-color: $global-blue;
        }

        .nav-li-list ul {
            flex: 2;
            display: flex;
            height: 100%;
            justify-content: space-around;
            align-items: center;
            padding-left: 12.3vw;

            li {
                display: flex;
            }

            li a {
                display: block;
                line-height: 2vw;
                width: 6vw;
                text-align: center;

                border-top-left-radius: .9375rem;
                border-bottom-right-radius: .9375rem;
                overflow: hidden;

                position: relative;

                margin: 6px;
            }

            li a::after {
                content: "";
                width: 20px;
                height: 20px;
                background-color: $global-blue;
                position: absolute;
                transform: rotate(45deg);
                top: -0.625rem;
                right: -0.625rem;

                display: none;

            }

            li :hover {
                color: #000000;
                background-color: #fff;
                display: block;
            }

            li:hover a::after {
                display: block;
            }
        }

        .nav-icon-list {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-around;

            a:nth-child(1) {
                padding-left: 5vw;
            }

            a {
                position: relative;
            }

            a .qrcode {
                position: absolute;
                margin-top: 1rem;

                display: none;
            }

            a .qrcode::before {
                position: absolute;
                content: "";
                width: 25px;
                height: 25px;
                background-color: rgb(255, 255, 255);
                transform: rotate(45deg);
                margin-top: -10px;
                margin-left: 5px;
                clip-path: polygon(0 0, 100% 0, 100% 20%, 20% 100%, 20% 100%, 0 100%);
            }
            .icon-wx:hover+.qrcode,
            .qrcode:hover {

                display: block;

            }

        }
    }

    .nav-bottom-area {
        width: 100%;
        padding-left: 40vh;
        height: 60vh;
        align-self: center;
        justify-content: end;
        // padding-bottom: ;

        margin-bottom: 4rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        div {
            width: 20.8125rem;
            height: 8.125rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            padding: 2vw;

            background-color: rgba(65, 165, 133, 0.8);
            color: #fff;
            border-top-left-radius: 3.75rem;
            border-bottom-right-radius: 3.75rem;

            h5 {
                font-size: 1.25rem;
            }

            h2 {
                font-size: 2.25rem;
            }
        }
    }
}