/* footer */
.footer-top {
    border-bottom: 1px #e6e6e6 solid;
    border-top: 1px #e6e6e6 solid;
}

.footer-top .wrap {
    padding: 26px 0 26px;
}

.footer-top-left {
    float: left;
    width: 500px;
}

.footer-top-right {
    float: left;
    width: 700px;
    text-align: right;
}

.footer-top-left p {
    font-size: 22px;
    color: #ff9f42;
    cursor: pointer;
}

.footer-top-left span {
    font-size: 14px;
    color: #999;
}

.footer-top-left .footer-left-color {
    color: #f93;
}

.footer-left-qr {
    float: left;
    margin-right: 25px;
    margin-top: 30px;
}

.footer-left-qr p {
    text-align: center;
    color: #666;
    font-size: 14px;
    margin-top: 10px;
}

.footer-right-top {
    border-bottom: 1px solid #ddd;
    padding: 0 20px 30px 0;
}

.footer-top-right ul {
    overflow: hidden;
}

.footer-top-right li {
    padding: 20px;
    float: left;
}

.footer-top-right li a {
    font-size: 16px;
    color: #999;
}

.footer-top-right li a:hover {
    color: #f93;
}

.footer-right-bottom {
    margin-top: 30px;
}

.footer-right-bottom div {
    float: right;
    margin-left: 20px;
}

.footer-right-bottom span {
    font-size: 14px;
    color: #666;
    line-height: 68px;
}

.footer-right-bottom a {
    color: #666;
}

.footer-bottom {
    background: #f1f1f1;
}

.footer-bottom .wrap {
    font-size: 12px;
    color: #999;
    padding: 17px 0;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.fix::after {
    content: "";
    clear: both;
    display: block;
}