/* 视觉稿宽度为 750, 请设置html的font-size为 37.5px, 以便在布局视口宽度为 375 的页面中自适应 */
.mod {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    width: 8.04rem;
    height: 14.45rem;
  }
  .txt {
    font-style: normal;
    position: absolute;
    top: -0.05rem;
    left: 0rem;
    text-decoration: none;
    line-height: 0.53rem;
    color: #1b1b1b;
    font-family: 'MicrosoftYaHei';
    font-size: 0.51rem;
    font-weight: 400;
  }
  .title {
    font-style: normal;
    position: relative;
    margin-top: 2.61rem;
    margin-left: 1.21rem;
    max-width: 6.83rem;
    height: 0.64rem;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    line-height: 0.64rem;
    color: #1b1b1b;
    font-family: 'MicrosoftYaHei';
    font-size: 0.64rem;
    font-weight: 400;
  }
  .text {
    font-style: normal;
    position: relative;
    margin-top: 2.08rem;
    margin-left: 1.2rem;
    max-width: 6.84rem;
    height: 0.53rem;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    line-height: 0.53rem;
    color: #1b1b1b;
    font-family: 'MicrosoftYaHei';
    font-size: 0.48rem;
    font-weight: 400;
  }
  .title_1 {
    font-style: normal;
    position: relative;
    margin-top: 0.44rem;
    margin-left: 1.2rem;
    max-width: 6.84rem;
    height: 0.53rem;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    line-height: 0.53rem;
    color: #d3d3d3;
    font-family: 'MicrosoftYaHei';
    font-size: 0.4rem;
    font-weight: 400;
  }
  .line {
    position: relative;
    opacity: 0.01rem;
    margin-top: 0.36rem;
    margin-left: 1.19rem;
    width: 6.83rem;
    height: 0.05rem;
  }
  .word {
    font-style: normal;
    position: relative;
    margin-top: 0.48rem;
    margin-left: 1.2rem;
    max-width: 6.84rem;
    height: 0.53rem;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    line-height: 0.53rem;
    color: #1b1b1b;
    font-family: 'MicrosoftYaHei';
    font-size: 0.48rem;
    font-weight: 400;
  }
  .text_1 {
    font-style: normal;
    position: relative;
    margin-top: 0.43rem;
    margin-left: 1.2rem;
    max-width: 6.84rem;
    height: 0.53rem;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    line-height: 0.53rem;
    color: #d3d3d3;
    font-family: 'MicrosoftYaHei';
    font-size: 0.4rem;
    font-weight: 400;
  }
  .line_1 {
    position: relative;
    opacity: 0.01rem;
    margin-top: 0.32rem;
    margin-left: 1.19rem;
    width: 6.83rem;
    height: 0.05rem;
  }
  .txt_1 {
    font-style: normal;
    position: relative;
    align-self: flex-end;
    margin-top: 0.17rem;
    margin-right: 0.01rem;
    text-decoration: none;
    line-height: 0.53rem;
    color: #999999;
    font-family: 'MicrosoftYaHei';
    font-size: 0.4rem;
    font-weight: 400;
  }
  .hd {
    box-sizing: border-box;
    display: flex;
    position: relative;
    align-items: center;
    align-self: flex-end;
    flex-direction: row;
    margin-top: 0.85rem;
    border-radius: 0.67rem;
    background-color: #f3d105;
    padding-right: 2.91rem;
    padding-left: 2.93rem;
    height: 1.49rem;
    overflow: auto;
  }
  .word_1 {
    font-style: normal;
    text-decoration: none;
    line-height: 0.53rem;
    color: #ffffff;
    font-family: 'MicrosoftYaHei';
    font-size: 0.48rem;
    font-weight: 600;
  }
  .bd {
    box-sizing: border-box;
    display: flex;
    position: relative;
    align-items: center;
    align-self: flex-end;
    flex-direction: row;
    margin-top: 0.31rem;
    margin-right: 0.03rem;
    border-radius: 0.67rem;
    background-color: #efefef;
    padding-right: 2.92rem;
    padding-left: 2.92rem;
    height: 1.49rem;
    overflow: auto;
  }
  .text_2 {
    font-style: normal;
    text-decoration: none;
    line-height: 0.53rem;
    color: #999999;
    font-family: 'MicrosoftYaHei';
    font-size: 0.48rem;
    font-weight: 600;
  }