.mod {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    width: 603px;
    height: 1084px;
  }
  .mod .txt {
    font-style: normal;
    position: absolute;
    top: -4px;
    left: 0px;
    text-decoration: none;
    line-height: 40px;
    color: #1b1b1b;
    font-family: 'MicrosoftYaHei';
    font-size: 38px;
    font-weight: 400;
  }
  .mod .title {
    font-style: normal;
    position: relative;
    margin-top: 196px;
    margin-left: 91px;
    max-width: 512px;
    height: 48px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    line-height: 48px;
    color: #1b1b1b;
    font-family: 'MicrosoftYaHei';
    font-size: 48px;
    font-weight: 400;
  }
  .mod .text {
    font-style: normal;
    position: relative;
    margin-top: 156px;
    margin-left: 90px;
    max-width: 513px;
    height: 40px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    line-height: 40px;
    color: #1b1b1b;
    font-family: 'MicrosoftYaHei';
    font-size: 36px;
    font-weight: 400;
  }
  .mod .title_1 {
    font-style: normal;
    position: relative;
    margin-top: 33px;
    margin-left: 90px;
    max-width: 513px;
    height: 40px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    line-height: 40px;
    color: #d3d3d3;
    font-family: 'MicrosoftYaHei';
    font-size: 30px;
    font-weight: 400;
  }
  .mod .line {
    position: relative;
    opacity: 1;
    margin-top: 27px;
    margin-left: 89px;
    width: 512px;
    height: 4px;
  }
  .mod .word {
    font-style: normal;
    position: relative;
    margin-top: 36px;
    margin-left: 90px;
    max-width: 513px;
    height: 40px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    line-height: 40px;
    color: #1b1b1b;
    font-family: 'MicrosoftYaHei';
    font-size: 36px;
    font-weight: 400;
  }
  .mod .text_1 {
    font-style: normal;
    position: relative;
    margin-top: 32px;
    margin-left: 90px;
    max-width: 513px;
    height: 40px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    line-height: 40px;
    color: #d3d3d3;
    font-family: 'MicrosoftYaHei';
    font-size: 30px;
    font-weight: 400;
  }
  .mod .line_1 {
    position: relative;
    opacity: 1;
    margin-top: 24px;
    margin-left: 89px;
    width: 512px;
    height: 4px;
  }
  .mod .txt_1 {
    font-style: normal;
    position: relative;
    align-self: flex-end;
    margin-top: 13px;
    margin-right: 1px;
    text-decoration: none;
    line-height: 40px;
    color: #999999;
    font-family: 'MicrosoftYaHei';
    font-size: 30px;
    font-weight: 400;
  }
  .mod .hd {
    box-sizing: border-box;
    display: flex;
    position: relative;
    align-items: center;
    align-self: flex-end;
    flex-direction: row;
    margin-top: 64px;
    border-radius: 50px;
    background-color: #f3d105;
    padding-right: 218px;
    padding-left: 220px;
    height: 112px;
    overflow: auto;
  }
  .mod .word_1 {
    font-style: normal;
    text-decoration: none;
    line-height: 40px;
    color: #ffffff;
    font-family: 'MicrosoftYaHei';
    font-size: 36px;
    font-weight: 600;
  }
  .mod .bd {
    box-sizing: border-box;
    display: flex;
    position: relative;
    align-items: center;
    align-self: flex-end;
    flex-direction: row;
    margin-top: 23px;
    margin-right: 2px;
    border-radius: 50px;
    background-color: #efefef;
    padding-right: 219px;
    padding-left: 219px;
    height: 112px;
    overflow: auto;
  }
  .mod .text_2 {
    font-style: normal;
    text-decoration: none;
    line-height: 40px;
    color: #999999;
    font-family: 'MicrosoftYaHei';
    font-size: 36px;
    font-weight: 600;
  }